<div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<div  v-if="!isLoading" class="col-md-12 container">
  		<simplert ref="deleteconfirmation"> </simplert>
		<div class="data-container evaluation">
			<div role="tablist">
				<simplert ref="savecConfirmation"> </simplert>
				<div class="introduction">
					<h6  class="header-title">{{form.program.department.name}}</h6>
					<h6  class="header-title">{{form.program.title}}</h6>
					<br>
					<h4 class="header-title">{{form.code}} {{form.title}}</h4>
					<p>{{form.introduction}}</p>
					<div class="clearfix">
						
					</div>
					<hr>
					<h5 class="text-center">AREA DIVISIONS</h5><br>
				</div>
				<!-- <form @submit.prevent="saveEvaluation()" @keydown="form.errors.clear($event.target.name)"> -->
					<b-card :key="areaDivision.id" no-body class="mb-1" v-for="(areaDivision, a_index) in form.areadivisions">
						<b-card-header header-tag="header" class="p-1" role="tab">
							<b-btn block href="#" v-b-toggle="'ad'+areaDivision.id" variant="primary">{{areaDivision.code}}. {{areaDivision.title}}</b-btn>
						</b-card-header>
						<b-collapse :id="'ad'+areaDivision.id" accordion="my-accordion" role="tabpanel">
							<b-card-body>
								<div class="criteria">
									<h6>Criteria: </h6>
									<p>{{areaDivision.criteria}}</p>
								</div>

								<div v-if="areaDivision.tables" class="e_table">
									<div class="table-responsive table-editable" v-for="(table,tindex) in areaDivision.tables">
									  <table class="table table-bordered">

									  	<template v-for="row in table.row_count">
									  		<tr>
									  			<template v-for="content in table.content">
									  				<td v-if="content.row == row-1">
									  					<b-form-textarea :max-rows="10" v-model="content.content" class="t_cell"></b-form-textarea >
									  				</td>
									  			</template>
									  		</tr>
									  	</template>
									  </table>
									</div>
								</div>

								<div v-if="areaDivision.subsets.length >0 " class="subsets1">
									<div v-for="(subset,s1) in areaDivision.subsets">
										<div class="row subset">
											<div class="col-md-11">
												<b-form-fieldset v-if="subset.with_checkbox">
													<b-form-checkbox value="1" unchecked-value="0"  v-model="subset.evaluation.checkbox"><p><strong>{{subset.code}}</strong> {{subset.description}}</p></b-form-checkbox>
												</b-form-fieldset>
												<p v-else><strong>{{subset.code}}</strong> {{subset.description}}</p>
											</div>
											<div class="col-md-1" v-if="subset.with_ratebox">
												<b-form-fieldset>
													<b-form-input type="text" class="rate" v-model="subset.evaluation.rate"  :disabled="subset.isAverage"></b-form-input>
												</b-form-fieldset>
											</div>
										</div>
										<div v-if="subset.with_textarea" class="e_textarea">
											<b-form-fieldset>
												<b-form-textarea :max-rows="10" v-model="subset.evaluation.textarea"></b-form-textarea >
											</b-form-fieldset>
										</div> 

										<div v-if="subset.tables" class="e_table">
											<div class="table-responsive table-editable" v-for="(table,tindex) in subset.tables">
											  <table class="table table-bordered">

											  	<template v-for="row in table.row_count">
											  		<tr>
											  			<template v-for="content in table.content">
											  				<td v-if="content.row == row-1" >
											  					<b-form-textarea :max-rows="10" :contenteditable="content.content == null" v-model="content.content" class="t_cell" :disabled="content.isBlank == 0"></b-form-textarea >

											  				</td>
											  			</template>
											  		</tr>
											  	</template>
											  </table>
											</div>
										</div>

										<div v-if="subset.checkboxes">
											<template v-for="c in subset.checkboxes">
												<div class="e_checkbox">
													<p>{{c.instruction}}</p><br>
													<div class="checkbox-options">
														<template v-for="opt in c.options">
															<b-form-fieldset>
																<b-form-checkbox value="1" unchecked-value="0"  v-model="opt.isChecked">{{opt.option}}</b-form-checkbox>
															</b-form-fieldset>
														</template>
													</div>
												</div>
											</template>
										</div>

										<div class="evidence">
											<div v-if="subset.evidences.length > 0">
												<p><strong>Evidences:</strong></p>
												<template v-for="(evidence,e) in subset.evidences">
													<span  class="file">
								  					<span @click="showEvidence(evidence)" class="filename-evidence" >{{evidence.filename}} </span> 

													<button type="button" class="close" @click="deleteEvidence(a_index,s1,0,0,1,e,evidence)">
								  						<span aria-hidden="true">&times;</span>
								  					</button>
								  					</span>
												</template>
												
											</div>

											<label :for="'evidence'+subset.id"  class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Upload Evidences</label>									
											<input type="file" accept="application/pdf" :id="'evidence'+subset.id" style="visibility:hidden;margin-top: 16px;" ref="files" multiple v-on:change="handleFiles(a_index,s1,0,0,1,subset.id,$event)"/>
										</div>

										<div v-if="subset.subsets.length >0 " class="subsets2">
											<div v-for="(subset2,s2) in subset.subsets">
												<div class="row">
													<div class="col-md-11">
														<b-form-fieldset v-if="subset2.with_checkbox">
															<b-form-checkbox value="1" unchecked-value="0" v-model="subset2.evaluation.checkbox"><p><strong>{{subset2.code}}</strong> {{subset2.description}}</p></b-form-checkbox>
														</b-form-fieldset>
														<p v-else><strong>{{subset2.code}}</strong> {{subset2.description}}</p>
													</div>
													<div class="col-md-1"  v-if="subset2.with_ratebox">
														<b-form-fieldset>
															<b-form-input type="text" class="rate" v-model="subset2.evaluation.rate":disabled="subset2.isAverage"></b-form-input>
														</b-form-fieldset>
													</div>
												</div>
												<div v-if="subset2.with_textarea"  class="e_textarea">
													<b-form-fieldset>
														<b-form-textarea :max-rows="10" v-model="subset2.evaluation.textarea"></b-form-textarea >
													</b-form-fieldset>
												</div>

												<div v-if="subset2.tables" class="e_table">
													<div class="table-responsive table-editable" v-for="(table,tindex) in subset2.tables">
													  <table class="table table-bordered">

													  	<template v-for="row in table.row_count">
													  		<tr>
													  			<template v-for="content in table.content">
													  				<td v-if="content.row == row-1" contenteditable="true">{{content.content}}</td>
													  			</template>
													  		</tr>
													  	</template>
													  </table>
													</div>
												</div>

												<div v-if="subset2.checkboxes">
													<template v-for="c in subset2.checkboxes">
														<div class="e_checkbox">
															<p>{{c.instruction}}</p><br>
															<div class="checkbox-options">
																<template v-for="opt in c.options">
																	<b-form-fieldset>
																		<b-form-checkbox value="1" unchecked-value="0"  v-model="opt.isChecked">{{opt.option}}</b-form-checkbox>
																	</b-form-fieldset>
																</template>
															</div>
														</div>
													</template>
												</div>

												<div class="evidence">
													<div v-if="subset2.evidences.length > 0">
														<p><strong>Evidences:</strong></p>
														<template v-for="(evidence,e) in subset2.evidences">
															<span  class="file">
										  					<span @click="showEvidence(evidence)" class="filename-evidence" >{{evidence.filename}} </span> 

															<button type="button" class="close" @click="deleteEvidence(a_index,s1,s2,0,2,e,evidence)">
										  						<span aria-hidden="true">&times;</span>
										  					</button>
										  					</span>
														</template>
														
													</div>

													<label :for="'evidence'+subset2.id"  class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Upload Evidences</label>									
													<input type="file" accept="application/pdf" :id="'evidence'+subset2.id" style="visibility:hidden;margin-top: 16px;" ref="files" multiple v-on:change="handleFiles(a_index,s1,s2,0,s2,subset2.id,$event)"/>
												</div>

												<div v-if="subset2.subsets.length >0 " class="subsets3">
													<div v-for="(subset3,s3) in subset2.subsets">
														<div class="row">
															<div class="col-md-11">
																<b-form-fieldset v-if="subset3.with_checkbox">
																	<b-form-checkbox value="1" unchecked-value="0" v-model="subset3.evaluation.checkbox"><p><strong>{{subset3.code}}</strong> {{subset3.description}}</p></b-form-checkbox>
																</b-form-fieldset>
																<p v-else ><strong>{{subset3.code}}</strong> {{subset3.description}}</p>
															</div>
															<div class="col-md-1"  v-if="subset3.with_ratebox">
																<b-form-fieldset>
																	<b-form-input type="text" class="rate" v-model="subset3.evaluation.rate" ></b-form-input>
																</b-form-fieldset>
															</div>
														</div>
														<div v-if="subset3.with_textarea">
															<b-form-fieldset>
																<b-form-textarea :max-rows="10" v-model="subset3.evaluation.texarea"></b-form-textarea >
															</b-form-fieldset>
														</div>

														<div v-if="subset3.tables" class="e_table">
															<div class="table-responsive table-editable" v-for="(table,tindex) in subset3.tables">
															  <table class="table table-bordered">

															  	<template v-for="row in table.row_count">
															  		<tr>
															  			<template v-for="content in table.content">
															  				<td v-if="content.row == row-1" contenteditable="true">{{content.content}}</td>
															  			</template>
															  		</tr>
															  	</template>
															  </table>
															</div>
														</div>

														<div v-if="subset3.checkboxes">
															<template v-for="c in subset3.checkboxes">
																<div class="e_checkbox">
																	<p>{{c.instruction}}</p><br>
																	<div class="checkbox-options">
																		<template v-for="opt in c.options">
																			<b-form-fieldset>
																				<b-form-checkbox value="1" unchecked-value="0"  v-model="opt.isChecked">{{opt.option}}</b-form-checkbox>
																			</b-form-fieldset>
																		</template>
																	</div>
																</div>
															</template>
														</div>

														<div class="evidence">
															<div v-if="subset3.evidences.length > 0">
																<p><strong>Evidences:</strong></p>
																<template v-for="(evidence,e) in subset3.evidences">
																	<span  class="file">
												  					<span @click="showEvidence(evidence)" class="filename-evidence" >{{evidence.filename}} </span> 

																	<button type="button" class="close" @click="deleteEvidence(a_index,s1,s2,s3,3,e,evidence)">
												  						<span aria-hidden="true">&times;</span>
												  					</button>
												  					</span>
																</template>
																
															</div>

															<label :for="'evidence'+subset3.id"  class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Upload Evidences</label>									
															<input type="file" accept="application/pdf" :id="'evidence'+subset3.id" style="visibility:hidden;margin-top: 16px;" ref="files" multiple v-on:change="handleFiles(a_index,s1,s2,s3,3,subset3.id,$event)"/>
														</div>
													</div>
												</div>  <!-- End of Subset 3-->
										</div>  <!-- End of Subset 2-->
										</div>
									</div>
								</div><!-- End of Subset 1-->

								<div class="area-summary" v-if="areaDivision.subsets.length> 0">
									<h6>Summary Evaluation : {{areaDivision.total}}</h6>
									<h6>Comments:</h6>
									<!-- <b-form-fieldset>
										 <b-form-textarea :max-rows="6" v-model="areaDivision.comment"></b-form-textarea>
									</b-form-fieldset> -->
									<textarea v-model="areaDivision.evaluation.comment" v-if="areaDivision.evaluation != null"></textarea>
									<textarea v-model="areaDivision.comment" v-else></textarea>
								</div>



							</b-card-body>
						</b-collapse>
					</b-card>

					<div class="modal fade col-md-12" id="show-evidence" tabindex="-1" role="dialog" aria-labelledby="showEvidenceModalLabel" aria-hidden="true">
			  			<div class="modal-dialog modal-lg">
				  			<div class="modal-content">
				  				<div class="modal-header">
				  					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  						<span aria-hidden="true">&times;</span>
				  					</button>
				  				</div>
				  				<div class="modal-body">	
				  					<div class="view-evidence">
				  						<embed :src="displayed_evidence" type="application/pdf" width="100%" height="1000" />
				  					</div>	
									

				  				</div>
			  				</div>
			  			</div>
			  		</div>


					<div class="pull-right">
						<br>
						<b-button @click="saveEvaluation" size="md" variant="primary"> Save Evaluation</b-button>
						<!-- <b-button  type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Cancel</b-button> -->
					</div>
			</div>
		</div>
	</div>
</div>
