<div class="animated fadeIn">

	<div class="title-page">
		<h3>Evaluation Done!</h3>
		<br>
		<router-link :to="{name:'Evaluation Scale'}"><div class="btn btn-primary">Go to Dashboard</div></router-link>
	</div>

</div>