<div class="animated fadeIn">
	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
	<div  v-if="!isLoading" class="data-container">
		<h6 class="text-center">University of Nueva Caceres</h6><br>
		<h6 class="text-center">{{program.department.name}}</h6>
		<h6 class="text-center">{{program.title}}</h6>
		<br>
		<p>Some introduction here Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis diam eget elit scelerisque, a egestas erat pharetra. Maecenas sed purus magna. Duis leo odio, lobortis vel condimentum hendrerit, molestie a elit. Donec tempus, lectus viverra porttitor egestas, mi dolor imperdiet eros, vitae ultricies turpis odio ac purus. </p>
		<br>
		<h4 class="header-title">Evaluation Scale</h4>
		<br>
		<div class="table-responsive">
		  <table class="table table-bordered">
		  	<thead>
		  		<tr>
		  			<th style="width: 10%">Numerical Evaluation</th>
		  			<th style="width: 20%">Description</th>
		  			<th style="width: 70%">Verbal Interpretation</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr>
		  			<td>5</td>
		  			<td>Excellent</td>
		  			<td>Provision is very extensive and functioning excellently</td>
		  		</tr>
		  		<tr>
		  			<td>4</td>
		  			<td>Very Good</td>
		  			<td>Provision is moderately extensive and functioning very well</td>
		  		</tr>
		  		<tr>
		  			<td>3</td>
		  			<td>Good</td>
		  			<td>Provision is adequate and functiong well</td>
		  		</tr>
		  		<tr>
		  			<td>2</td>
		  			<td>Fair</td>
		  			<td>Provision is very limited but functioning well</td>
		  		</tr>
		  		<tr>
		  			<td>1</td>
		  			<td>Poor</td>
		  			<td>Provision is very limited and functioning poorly</td>
		  		</tr>
		  		<tr>
		  			<td>0</td>
		  			<td>Missing</td>
		  			<td>Provision is missing but necesssary</td>
		  		</tr>
		  		<tr>
		  			<td>N.A</td>
		  			<td>Not Applicable</td>
		  			<td>Provision does not apply</td>
		  		</tr>

		  	</tbody>
		    
		  </table>
		</div>

		<p>SUMMARY EVALUATION: The average of the numerical evaluation of each major item in each division.</p>
		<p>COMMENTS: In the space alloted for comments, the Institutional Self-Survey Tesm can include remarks concerning matters not sufficiently treated in the preceding Analytical Evaluation and which should be taken into consideration in the over-all evaluation of the Section. Where there is need. the Self-Survey Team should use this space for an explanation of the use of the symbols M and NA.</p>

		<br>
		  <router-link :to="{name:'Area Evaluation', params:{department_id:user.department_id,program_id:user.program_id,area_id:user.area_id}}"><div class="btn btn-primary pull-right">Proceed to Evaluation &nbsp; <i class="fa fa-arrow-right"></i></div></router-link>
	</div>
</div>