<template src='../../templates/accreditors/area.html'></template>


<script>
import Loading from 'vue-loading-overlay';

export default {
  components: {
   Loading
  },
  data () {
    return {
      data:'',
      area_id:'',
      department_id:'',
      program_id:'',
      isLoading:false,
      displayed_evidence:'',
      user: this.$auth.user(),
      moreParams:{
      }
    }
  },
  beforeCreate(){
   
  },

  created(){

    this.area_id = this.$route.params.area_id;
    this.department_id =this.$route.params.department_id;
    this.program_id = this.$route.params.program_id;
    this.isLoading = true;
    this.fetchArea();

  },

  methods: {

    fetchArea()
    {
      var count = 0;
      var total =0;
      axios.get('areas/'+this.area_id).then(response => {
        this.data = response.data;
        for (var d in this.data.areadivisions)
        {
          if(this.data.areadivisions[d].subsets)
          {

            this.data.areadivisions[d]['summary'] = this.computeSummary(this.data.areadivisions[d]);
            total =total + parseFloat( this.data.areadivisions[d]['summary']);
            count++;
          }
        }
         this.data.total = total;
        this.data['general_average'] = parseFloat(this.data.total/count).toFixed(2);
        this.isLoading = false;
      },error=>{
        next('404')
      });
    },
     showEvidence(evidence)
    {
      this.displayed_evidence=evidence.evidence;
       $("#show-evidence").modal('show');
    },

    computeSummary(data)
    {
      var length = data.subsets.length;
      var count =0;
      var summary =0;
      if(length> 0)
      {
        for(var s = 0;s<length;s++)
        {
          if(data.subsets[s].with_ratebox == 1)
          {
           summary  =  summary + parseFloat(data.subsets[s].evaluation.rate);
            count++;
          }
        }
      }

      if(summary == 0 && count  == 0)
       return summary= 0;
     else
      return parseFloat(summary /= count).toFixed(2);
    
    },


  },
  computed:{
  }
}
</script>
<style>
.row
{
	margin-bottom: 16px;
	padding: 2px;
}

</style>
