<template src='../../templates/accreditors/landing.html'></template>


<script>

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';

export default {
  name:'AccreditorLanding',
  components: {
    Loading
   
  },
  data () {
    return {
      areas:'',
      isLoading:false,
      user:this.$auth.user(),
      moreParams:{
      }
    }
  },
  beforeCreate(){
  },

  created(){
    this.isLoadng = true;
    var id =  this.$route.params.program_id;
    if(this.user.role == 'Accreditor')
      this.fetchAreas(this.user.program_id);
    else
      this.fetchAreas(id);
  },

  methods: {
    allcap (value) {
      return value.toUpperCase()
    },
    fetchAreas(id)
    {
       axios.get('fetch-program-areas/'+id).then(response => {
          this.areas = response.data.data;
          this.isLoading = false;
      });
    },

    goToArea(id)
    {
      this.$router.push({name:'Accreditation Area',params:{area_id:id,program_id:this.user.program_id,department_id:this.user.department_id}});
    },

    goToAccreditationSummary()
    {
      this.$router.push({name:'Accreditation Summary',params:{program_id:this.user.program_id,department_id:this.user.department_id}});
    }

  },
  computed:{
  }
}
</script>
<style>

</style>
