<template>
  <div @click="onClick">

    <div class="ml-5">
      <strong>Divisions ({{ rowData.areadivisions.length}})</strong>

      <ul>
        <li v-for="(ad,i) in rowData.areadivisions">
            <span>{{ad.code}} - {{ad.title}}</span>

           <!-- <strong>Subsets ({{ ad.subsets.length}})</strong> -->

           <ul>
             <li v-for="sc in ad.subsets">
                  <span>{{sc.code}} - {{sc.description}}</span>
             </li>
           </ul>


        </li>
      </ul>
    </div>



  </div>
</template>

<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    onClick (event) {
      console.log('my-detail-row: on-click', event.target)
    }
  },
}
</script>
