<div class="animated fadeIn">

  <loading :active.sync="isLoading"
  :is-full-page="true"></loading>

  <simplert ref="deleteconfirmation"> </simplert>

  <div v-if="!isLoading" class="row">
    <div class="col-md-12 data-container">
      <div class="row">

        <div class="col-md-12">
          <h5 class="header-title">AREA</h5><br>
          <form @submit.prevent="updateArea" @keydown="form.errors.clear($event.target.name)">

            <!-- AREA INFORMATION -->
            <b-card header="<strong>AREA INFORMATION</strong>">
              <b-form-fieldset>
                <b-input-group  left="<span>Area Code</span>">
                  <b-form-input type="text" :class="form.errors.has('code') ? 'is-invalid' : '' " v-model="form.code" ></b-form-input>
                </b-input-group>
                <div v-if="form.errors.has('code')" class="invalid-feedback d-block">
                  {{ form.errors.get('code') }}
                </div>
              </b-form-fieldset>

              <b-form-fieldset>
                <b-input-group  left="<span>Area Title</span>">
                  <b-form-input type="text" :class="form.errors.has('title') ? 'is-invalid' : '' " v-model="form.title" ></b-form-input>
                </b-input-group>
                <div v-if="form.errors.has('title')" class="invalid-feedback d-block">
                  {{ form.errors.get('title') }}
                </div>
              </b-form-fieldset>

              <b-form-fieldset>
                <b-input-group  left="<span>Weight Value</span>">
                  <b-form-input type="text" :class="form.errors.has('weight_value') ? 'is-invalid' : '' " v-model="form.weight_value" ></b-form-input>
                </b-input-group>
                <div v-if="form.errors.has('weight_value')" class="invalid-feedback d-block">
                  {{ form.errors.get('weight_value') }}
                </div>
              </b-form-fieldset>

              <b-form-fieldset>
                <b-input-group  left="<span>Introduction</span>">
                  <b-form-textarea :rows="2"  v-model="form.introduction"></b-form-textarea >
                </b-input-group>
              </b-form-fieldset>
            </b-card>


            <hr>

            <!-- AREA DIVISIONS -->

            <b-card header="<strong>AREA DIVISIONS</strong>">
              <div v-for="(areadivisions,areaDivindex) in form.areadivisions">
                <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeAreaDivision(areaDivindex,areadivisions.id)"><i class="fa fa-window-close"></i></button>

                <div  v-if="areaDivindex > 0" style="margin-top:-15px;" class="clearfix"> </div>
                <div  v-else class="clearfix"> </div>

                <div class="row">
                  <div class="col-md-4">
                    <b-form-fieldset>
                      <b-input-group  left="<span>Division Code</span>">
                        <b-form-input type="text" :class="form.errors.has('areadivisions.' + areaDivindex + '.code') ? 'is-invalid' : '' " v-model="areadivisions.code" ></b-form-input>
                      </b-input-group>
                      <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.code')" class="invalid-feedback d-block">
                        {{ form.errors.get('areadivisions.' + areaDivindex + '.code') }}
                      </div>
                    </b-form-fieldset>
                  </div>
                  <div class="col-md-8">

                    <b-form-fieldset>
                      <b-input-group  left="<span>Division Title</span>">
                        <b-form-input type="text" :class="form.errors.has('areadivisions.' + areaDivindex + '.title') ? 'is-invalid' : '' " v-model="areadivisions.title" ></b-form-input>
                      </b-input-group>
                      <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.title')" class="invalid-feedback d-block">
                        {{ form.errors.get('areadivisions.' + areaDivindex + '.title') }}
                      </div>
                    </b-form-fieldset>
                  </div>

                  <div class="col-md-12">
                    <b-form-fieldset>
                      <b-input-group  left="<span>Criteria</span>">
                        <b-form-textarea :rows="2"  v-model="areadivisions.criteria"></b-form-textarea >
                      </b-input-group>
                    </b-form-fieldset>
                  </div>
                </div>



                <div v-if="areadivisions.tables" class="subset_table table-responsive">
                  <template  v-for="(t,tindex) in areadivisions.tables" >
                    <div class="individual-table">
                      <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeTable(areaDivindex,0,0,0,tindex,0,t.id)"><i class="fa fa-window-close"></i></button>

                      <h6>TABLE {{tindex+1}} <span v-if="areadivisions.code != '' ">of {{areadivisions.code}}</span></h6>
                      <br>
                      <b-form-fieldset>
                        <b-input-group  left="<span>Instruction</span>">
                          <b-form-input type="text" v-model="t.instruction" ></b-form-input>
                        </b-input-group>
                      </b-form-fieldset>
                      <br><br>
                      <table class="table">
                        <tr >
                          <td class="no-border" v-for="(c,count) in t.column_count" style="text-align:center;">
                            <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeColumn(areaDivindex,0,0,0,tindex,0,count)"><i class="fa fa-window-close"></i></button>
                          </td>
                        </tr>
                      
                        <template v-for="row in t.row_count">
                          <tr>
                            <template v-for="content in t.content">
                              <td v-if="content.row == row-1" >
                                <b-form-textarea :rows="3" contenteditable="true" v-model="content.content" class="t_cell"></b-form-textarea >
                              </td>
                            </template>
                            <td  class="no-border" style="text-align:center;">
                               <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeRow(areaDivindex,0,0,0,tindex,0,row-1)"><i class="fa fa-window-close"></i></button>
                            </td>
                          </tr>
                        </template>
                      </table>

                        <button type="button" class="btn btn-sm btn-default" style="margin-left: 3px; margin-top: 16px;" @click="addAreaDivisionTableRow(areaDivindex,tindex)"><i class="fa fa-plus"></i> Add Row</button>
                        <button type="button" class="btn btn-sm btn-default" style=" margin-top: 16px;" @click="addAreaDivisionTableColumn(areaDivindex,tindex)"><i class="fa fa-plus"></i> Add Column </button>
                    </div>
                  </template>
                </div> 
                


                <!-- AREA DIVISION SUBSET LEVEL 1 -->
                <b-card v-if="areadivisions.subsets.length>0" header="<strong>SUBSETS of *</strong>" style="margin-top: 16px;">
                  <div v-for="(subset,i) in areadivisions.subsets" class="border">
                    <div class="clearfix">

                    </div>
                    <button type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeAreaDivisionSubset(areaDivindex,0,0,i,1,subset.id)"><i class="fa fa-window-close"></i></button>

                    <div  v-if="i > 0" style="margin-top:-15px;" class="clearfix"> </div>
                    <div  v-else class="clearfix"> </div>
                    <div class="row">
                      <div class="col-md-5">
                        <b-form-fieldset>
                          <b-input-group  left="<span>Code</span>">
                            <b-form-input type="text" :class="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i + '.code') ? 'is-invalid' : '' " v-model="subset.code" ></b-form-input>
                          </b-input-group>
                          <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i + '.code')" class="invalid-feedback d-block">
                            {{ form.errors.get('areadivisions.' + areaDivindex + '.subsets.' + i + '.code') }}
                          </div>
                        </b-form-fieldset>
                      </div>
                      <div class="col-md-7">
                        <b-form-fieldset>
                          <b-form-checkbox value="1" unchecked-value="0" v-model="subset.with_ratebox">With Ratebox</b-form-checkbox>
                          <b-form-checkbox value="1" unchecked-value="0" v-model="subset.with_checkbox">With Checkbox</b-form-checkbox>
                          <b-form-checkbox value="1" unchecked-value="0" v-model="subset.with_textarea">With Textarea</b-form-checkbox>
                        </b-form-fieldset>
                      </div>
                    </div> <!-- End of row -->

                    <div class="row">
                      <div class="col-md-12">
                        <b-form-fieldset>
                          <b-input-group  left="<span>Description</span>">
                            <b-form-textarea :rows="2"  :class="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i + '.description') ? 'is-invalid' : '' " v-model="subset.description" ></b-form-textarea >
                          </b-input-group>
                          <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i + '.description')" class="invalid-feedback d-block">
                            {{ form.errors.get('areadivisions.' + areaDivindex + '.subsets.' + i + '.description') }}
                          </div>
                        </b-form-fieldset>
                      </div>
                    </div>

                    <div v-if="subset.tables" class="subset_table table-responsive">
                      <template  v-for="(t,tindex) in subset.tables" >
                        <div class="individual-table">
                          <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeTable(areaDivindex,i,0,0,tindex,1,t.id)"><i class="fa fa-window-close"></i></button>

                          <h6>TABLE {{tindex+1}} <span v-if="subset.code != '' ">of {{subset.code}}</span></h6>
                          <br>
                          <b-form-fieldset>
                            <b-input-group  left="<span>Instruction</span>">
                              <b-form-input type="text" v-model="t.instruction" ></b-form-input>
                            </b-input-group>
                          </b-form-fieldset>
                          <br><br>
                          <table class="table">
                            <tr >
                              <td class="no-border" v-for="(c,count) in t.column_count" style="text-align:center;">
                                 <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeColumn(areaDivindex,i,0,0,tindex,1,count)"><i class="fa fa-window-close"></i></button>
                              </td>
                            </tr>
                          
                            <template v-for="row in t.row_count">
                              <tr>
                                <template v-for="content in t.content">
                                  <td v-if="content.row == row-1" >
                                    <b-form-textarea :rows="3" contenteditable="true" v-model="content.content" class="t_cell"></b-form-textarea >
                                  </td>
                                </template>
                                <td  class="no-border" style="text-align:center;">
                                  <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeRow(areaDivindex,i,0,0,tindex,1,row-1)"><i class="fa fa-window-close"></i></button>
                                </td>
                              </tr>
                            </template>
                          </table>
                            <button type="button" class="btn btn-sm btn-default" style="margin-right: 3px; margin-top: 16px;" @click="addSubsetTableRow(areaDivindex,i,0,0,tindex,1)"><i class="fa fa-plus"></i> Add Row</button>
                            <button type="button" class="btn btn-sm btn-default" style=" margin-top: 16px;" @click="addSubsetTableColumn(areaDivindex,i,0,0,tindex,1)"><i class="fa fa-plus"></i> Add Column </button>
                        </div>
                      </template>
                    </div>

                    <div v-if="subset.checkboxes" >
                      <template  v-for="(c,cindex) in subset.checkboxes">
                        <div  class="checkboxlist">
                          <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeCheckbox(areaDivindex,i,0,0,cindex,1,c.id)"><i class="fa fa-window-close"></i></button>
                          <h6>CHECKBOX {{cindex+1}} <span v-if="subset.code != '' ">of {{subset.code}}</span></h6>
                          <br>
                          <b-form-fieldset>
                            <b-input-group  left="<span>Instruction</span>">
                              <b-form-input type="text" v-model="c.instruction" ></b-form-input>
                            </b-input-group>
                          </b-form-fieldset>
                          <br>
                          <h6  style="margin-left: 16px;">Checkbox options: </h6>
                          <div class="checkbox-options">
                            <template v-for="(opt,opt_index) in c.options">
                              <b-form-fieldset>
                                <b-input-group  left='<i class="fa fa-check"></i>'>
                                  <b-form-input type="text" v-model="opt.option" ></b-form-input> <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeCheckboxOption(areaDivindex,i,0,0,cindex,opt_index,1,opt.id)"><i class="fa fa-window-close"></i></button>
                                </b-input-group>
                              </b-form-fieldset>
                            </template>

                          </div>

                          <button type="button" class="btn btn-sm btn-default" style="margin-left: 16px; margin-top: 8px; margin-bottom: 16px;" @click="addOption(areaDivindex,i,0,0,cindex,1)"><i class="fa fa-plus"></i> Add Checkbox Option</button>
                        </div>
                      </template>
                    </div>

                    <!-- AREA DIVISION SUBSET LEVEL 2 -->

                    <b-card v-if="subset.subsets.length>0" header="<strong>SUBSETS of *.*</strong>" style="margin-top: 16px;">
                      <div v-for="(subset2,i2) in subset.subsets" class="border">
                        <div class="clearfix">

                        </div>
                        <button type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeAreaDivisionSubset(areaDivindex,i,0,i2,2,subset2.id)"><i class="fa fa-window-close"></i></button>

                        <div  v-if="i2 > 0" style="margin-top:-15px;" class="clearfix"> </div>
                        <div  v-else class="clearfix"> </div>
                        <div class="row">
                          <div class="col-md-5">
                            <b-form-fieldset>
                              <b-input-group  left="<span>Code</span>">
                                <b-form-input type="text" :class="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i + '.subsets.' + i2+ '.code') ? 'is-invalid' : '' " v-model="subset2.code" ></b-form-input>
                              </b-input-group>
                              <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i+ '.subsets.' + i2 + '.code')" class="invalid-feedback d-block">
                                {{ form.errors.get('areadivisions.' + areaDivindex + '.subsets.' + i2 + '.code') }}
                              </div>
                            </b-form-fieldset>
                          </div>
                          <div class="col-md-7">
                            <b-form-fieldset>
                              <b-form-checkbox value="1" unchecked-value="0" v-model="subset2.with_ratebox">With Ratebox</b-form-checkbox>
                              <b-form-checkbox value="1" unchecked-value="0" v-model="subset2.with_checkbox">With Checkbox</b-form-checkbox>
                              <b-form-checkbox value="1" unchecked-value="0" v-model="subset2.with_textarea">With Textarea</b-form-checkbox>
                            </b-form-fieldset>
                          </div>
                        </div> <!-- End of row -->

                        <div class="row">
                          <div class="col-md-12">
                            <b-form-fieldset>
                              <b-input-group  left="<span>Description</span>">
                                <b-form-textarea :rows="2"  :class="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i+ '.subsets.' + i2 + '.description') ? 'is-invalid' : '' " v-model="subset2.description" ></b-form-textarea>
                              </b-input-group>
                              <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i+ '.subsets.' + i2 + '.description')" class="invalid-feedback d-block">
                                {{ form.errors.get('areadivisions.' + areaDivindex + '.subsets.' + i2 + '.description') }}
                              </div>
                            </b-form-fieldset>
                          </div>
                        </div>


                        <div v-if="subset2.tables" class="subset_table table-responsive">
                          <template  v-for="(t,tindex) in subset2.tables" >
                            <div class="individual-table">
                              <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeTable(areaDivindex,i,i2,0,tindex,2,t.id)"><i class="fa fa-window-close"></i></button>

                              <h6>TABLE {{tindex+1}} <span v-if="subset2.code != '' ">of {{subset2.code}}</span></h6>
                              <br>
                              <b-form-fieldset>
                                <b-input-group  left="<span>Instruction</span>">
                                  <b-form-input type="text" v-model="t.instruction" ></b-form-input>
                                </b-input-group>
                              </b-form-fieldset>
                              <br><br>
                               <table class="table">
                                <tr >
                                  <td class="no-border" v-for="(c,count) in t.column_count" style="text-align:center;">
                                     <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeColumn(areaDivindex,i,i2,0,tindex,2,count)"><i class="fa fa-window-close"></i></button>
                                  </td>
                                </tr>
                              
                                <template v-for="row in t.row_count">
                                  <tr>
                                    <template v-for="content in t.content">
                                      <td v-if="content.row == row-1" >
                                        <b-form-textarea :rows="3" contenteditable="true" v-model="content.content" class="t_cell"></b-form-textarea >
                                      </td>
                                    </template>
                                    <td  class="no-border" style="text-align:center;">
                                      <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeRow(areaDivindex,i,i2,0,tindex,2,row-1)"><i class="fa fa-window-close"></i></button>
                                    </td>
                                  </tr>
                                </template>
                              </table>
                                <button type="button" class="btn btn-sm btn-default" style="margin-right: 3px; margin-top: 16px;" @click="addSubsetTableRow(areaDivindex,i,i2,0,tindex,2)"><i class="fa fa-plus"></i> Add Row</button>
                                <button type="button" class="btn btn-sm btn-default" style=" margin-top: 16px;" @click="addSubsetTableColumn(areaDivindex,i,i2,0,tindex,2)"><i class="fa fa-plus"></i> Add Column </button>
                            </div>
                          </template>
                        </div>

                        <div v-if="subset2.checkboxes" >
                          <template  v-for="(c,cindex) in subset2.checkboxes">
                            <div  class="checkboxlist">
                              <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeCheckbox(areaDivindex,i,i2,0,cindex,2,c.id)"><i class="fa fa-window-close"></i></button>
                              <h6>CHECKBOX {{cindex+1}} <span v-if="subset2.code != '' ">of {{subset2.code}}</span></h6>
                              <br>
                              <b-form-fieldset>
                                <b-input-group  left="<span>Instruction</span>">
                                  <b-form-input type="text" v-model="c.instruction" ></b-form-input>
                                </b-input-group>
                              </b-form-fieldset>
                              <br>
                              <h6  style="margin-left: 16px;">Checkbox options: </h6>
                              <div class="checkbox-options">
                                <template v-for="(opt,opt_index) in c.options">
                                  <b-form-fieldset>
                                    <b-input-group  left='<i class="fa fa-check"></i>'>
                                      <b-form-input type="text" v-model="opt.option" ></b-form-input> <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeCheckboxOption(areaDivindex,i,i2,0,cindex,opt_index,2,opt.id)"><i class="fa fa-window-close"></i></button>
                                    </b-input-group>
                                  </b-form-fieldset>
                                </template>

                              </div>

                              <button type="button" class="btn btn-sm btn-default" style="margin-left: 16px; margin-top: 8px; margin-bottom: 16px;" @click="addOption(areaDivindex,i,i2,0,cindex,2)"><i class="fa fa-plus"></i> Add Checkbox Option</button>
                            </div>
                          </template>
                        </div>

                        <!-- AREA DIVISION SUBSET LEVEL 3 -->

                        <b-card v-if="subset2.subsets.length>0" header="<strong>SUBSETS of *.*.*</strong>" style="margin-top: 16px;">
                          <div v-for="(subset3,i3) in subset2.subsets" class="border">
                            <div class="clearfix">

                            </div>
                            <button type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeAreaDivisionSubset(areaDivindex,i,i2,i3,3,subset3.id)"><i class="fa fa-window-close"></i></button>

                            <div  v-if="i3 > 0" style="margin-top:-15px;" class="clearfix"> </div>
                            <div  v-else class="clearfix"> </div>
                            <div class="row">
                              <div class="col-md-5">
                                <b-form-fieldset>
                                  <b-input-group  left="<span>Code</span>">
                                    <b-form-input type="text" :class="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i + '.subsets.' + i2 + '.subsets.' + i3 + '.code') ? 'is-invalid' : '' " v-model="subset3.code" ></b-form-input>
                                  </b-input-group>
                                  <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i+ '.subsets.' + i2 + '.subsets.' + i3+ '.code')" class="invalid-feedback d-block">
                                    {{ form.errors.get('areadivisions.' + areaDivindex + '.subsets.' + i2  + '.subsets.' + i3 + '.code') }}
                                  </div>
                                </b-form-fieldset>
                              </div>
                              <div class="col-md-7">
                                <b-form-fieldset>
                                  <b-form-checkbox value="1" unchecked-value="0" v-model="subset3.with_ratebox">With Ratebox</b-form-checkbox>
                                  <b-form-checkbox value="1" unchecked-value="0" v-model="subset3.with_checkbox">With Checkbox</b-form-checkbox>
                                  <b-form-checkbox value="1" unchecked-value="0" v-model="subset3.with_textarea">With Textarea</b-form-checkbox>
                                </b-form-fieldset>
                              </div>
                            </div> <!-- End of row -->

                            <div class="row">
                              <div class="col-md-12">
                                <b-form-fieldset>
                                  <b-input-group  left="<span>Description</span>">
                                    <b-form-textarea :rows="2"  :class="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i+ '.subsets.' + i2  + '.subsets.' + i3 + '.description') ? 'is-invalid' : '' " v-model="subset3.description" ></b-form-textarea>
                                  </b-input-group>
                                  <div v-if="form.errors.has('areadivisions.' + areaDivindex + '.subsets.' + i+ '.subsets.' + i2  + '.subsets.' + i3 + '.description')" class="invalid-feedback d-block">
                                    {{ form.errors.get('areadivisions.' + areaDivindex + '.subsets.' + i2  + '.subsets.' + i3 + '.description') }}
                                  </div>
                                </b-form-fieldset>
                              </div>
                            </div>

                            <div v-if="subset3.tables" class="subset_table table-responsive">
                              <template  v-for="(t,tindex) in subset3.tables" >
                                <div class="individual-table">
                                  <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeTable(areaDivindex,i,i2,i3,tindex,3,t.id)"><i class="fa fa-window-close"></i></button>

                                  <h6>TABLE {{tindex+1}} <span v-if="subset3.code != '' ">of {{subset3.code}}</span></h6>
                                  <br>
                                  <b-form-fieldset>
                                    <b-input-group  left="<span>Instruction</span>">
                                      <b-form-input type="text" v-model="t.instruction" ></b-form-input>
                                    </b-input-group>
                                  </b-form-fieldset>
                                  <br><br>
                                   <table class="table">
                                    <tr >
                                      <td class="no-border" v-for="(c,count) in t.column_count" style="text-align:center;">
                                         <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeColumn(areaDivindex,i,i2,i3,tindex,3,count)"><i class="fa fa-window-close"></i></button>
                                      </td>
                                    </tr>
                                  
                                    <template v-for="row in t.row_count">
                                      <tr>
                                        <template v-for="content in t.content">
                                          <td v-if="content.row == row-1" >
                                            <b-form-textarea :rows="3" contenteditable="true" v-model="content.content" class="t_cell"></b-form-textarea >
                                          </td>
                                        </template>
                                        <td  class="no-border" style="text-align:center;">
                                          <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary" @click="removeRow(areaDivindex,i,i2,i3,tindex,3,row-1)"><i class="fa fa-window-close"></i></button>
                                        </td>
                                      </tr>
                                    </template>
                                  </table>
                                    <button type="button" class="btn btn-sm btn-default" style="margin-right: 3px; margin-top: 16px;" @click="addSubsetTableRow(areaDivindex,i,i2,i3,tindex,3)"><i class="fa fa-plus"></i> Add Row</button>
                                    <button type="button" class="btn btn-sm btn-default" style=" margin-top: 16px;" @click="addSubsetTableColumn(areaDivindex,i,i2,i3,tindex,3)"><i class="fa fa-plus"></i> Add Column </button>
                                </div>
                              </template>
                            </div>

                            <div v-if="subset3.checkboxes" >
                              <template  v-for="(c,cindex) in subset3.checkboxes">
                                <div  class="checkboxlist">
                                  <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeCheckbox(areaDivindex,i,i2,i3,cindex,3,c.id)"><i class="fa fa-window-close"></i></button>
                                  <h6>CHECKBOX {{cindex+1}} <span v-if="subset3.code != '' ">of {{subset3.code}}</span></h6>
                                  <br>
                                  <b-form-fieldset>
                                    <b-input-group  left="<span>Instruction</span>">
                                      <b-form-input type="text" v-model="c.instruction" ></b-form-input>
                                    </b-input-group>
                                  </b-form-fieldset>
                                  <br>
                                  <h6  style="margin-left: 16px;">Checkbox options: </h6>
                                  <div class="checkbox-options">
                                    <template v-for="(opt,opt_index) in c.options">
                                      <b-form-fieldset>
                                        <b-input-group  left='<i class="fa fa-check"></i>'>
                                          <b-form-input type="text" v-model="opt.option" ></b-form-input> <button  type="button" style="background: none;border:none;" class="btn btn-sm btn-secondary pull-right" @click="removeCheckboxOption(areaDivindex,i,i2,i3,cindex,opt_index,3,opt.id)"><i class="fa fa-window-close"></i></button>
                                        </b-input-group>
                                      </b-form-fieldset>
                                    </template>

                                  </div>

                                  <button type="button" class="btn btn-sm btn-default" style="margin-left: 16px; margin-top: 8px; margin-bottom: 16px;" @click="addOption(areaDivindex,i,i2,i3,cindex,3)"><i class="fa fa-plus"></i> Add Checkbox Option</button>
                                </div>
                              </template>
                            </div>
                            <div>
                              <b-dropdown id="ddown-buttons" text="Add Item" class="m-2">
                                <b-dropdown-item-button  @click="addSubsetTable(areaDivindex,i,i2,i3,3)"><i class="fa fa-plus"></i> Add Table <span v-if="subset3.code != '' ">to {{subset3.code}}</span></b-dropdown-item-button>
                                <b-dropdown-item-button @click="addCheckboxList(areaDivindex,i,i2,i3,3)"><i class="fa fa-plus"></i> Add Checkbox Options <span v-if="subset3.code != '' ">to {{subset3.code}}</span></b-dropdown-item-button>
                              </b-dropdown>
                            </div>

                          </div>
                        </b-card>

                          <div>
                            <b-dropdown id="ddown-buttons" text="Add Item" class="m-2">
                              <b-dropdown-item-button  @click="addAreaDivisionSubset(areaDivindex,i,i2,3)"><i class="fa fa-plus"></i> Add Subset <span v-if="subset2.code != '' ">to {{subset2.code}}</span></b-dropdown-item-button>
                              <b-dropdown-item-button @click="addSubsetTable(areaDivindex,i,i2,0,2)"><i class="fa fa-plus"></i> Add Table <span v-if="subset2.code != '' ">to {{subset2.code}}</span></b-dropdown-item-button>
                              <b-dropdown-item-button @click="addCheckboxList(areaDivindex,i,i2,0,2)"><i class="fa fa-plus"></i> Add Checkbox Options <span v-if="subset2.code != '' ">to {{subset2.code}}</span></b-dropdown-item-button>
                            </b-dropdown>
                          </div>

                          

                        <hr>

                      </div>
                    </b-card>
                    <!--  <button  type="button" class="btn btn-sm btn-primary" @click="addAreaDivisionSubset(areaDivindex,i,0,2)"><i class="fa fa-plus"></i>Add Subset <span v-if="subset.code != '' ">to {{subset.code}}</span></button>
 -->
                      <div>
                        <b-dropdown id="ddown-buttons" text="Add Item" class="m-2">
                          <b-dropdown-item-button  @click="addAreaDivisionSubset(areaDivindex,i,0,2)"><i class="fa fa-plus"></i> Add Subset <span v-if="subset.code != '' ">to {{subset.code}}</span></b-dropdown-item-button>
                          <b-dropdown-item-button  @click="addSubsetTable(areaDivindex,i,0,0,1)"><i class="fa fa-plus"></i> Add Table <span v-if="subset.code != '' ">to {{subset.code}}</span></b-dropdown-item-button>
                          <b-dropdown-item-button @click="addCheckboxList(areaDivindex,i,0,0,1)"><i class="fa fa-plus"></i> Add Checkbox Options <span v-if="subset.code != '' ">to {{subset.code}}</span></b-dropdown-item-button>
                        </b-dropdown>
                      </div>
                    
                    <hr>
                    
                  </div>
                </b-card>

                <div>
                  <b-dropdown id="ddown-buttons" text="Add Item" class="m-2">
                    <b-dropdown-item-button  @click="addAreaDivisionSubset(areaDivindex,0,0,1)"><i class="fa fa-plus"></i> Add Subset <span v-if="areadivisions.code != '' ">to {{areadivisions.code}}</span></b-dropdown-item-button>
                    <b-dropdown-item-button  @click="addAreaDivisionTable(areaDivindex)"><i class="fa fa-plus"></i> Add Table <span v-if="areadivisions.code != '' ">to {{areadivisions.code}}</span></b-dropdown-item-button>
                    <!-- <b-dropdown-item-button><i class="fa fa-plus"></i> Add Checkbox Options <span v-if="areadivisions.code != '' ">to {{areadivisions.code}}</span></b-dropdown-item-button> -->
                  </b-dropdown>
                </div>

                <div class="clearfix">
                </div>
                <hr>

              </div>
              <div class="clearfix">
              </div>
              <div class="pull-right">
                <button style="margin-right:5px;"  type="button" class="btn btn-secondary btn-sm" @click="addAreaDivision()">Add Area Division</button>
              </div>

            </b-card>

            <div slot="footer" class="pull-right">
              <b-button type="submit" size="md" variant="primary">Update Area</b-button>
            <!--   <b-button  @click="clearForm" type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Cancel</b-button> -->
            </div>
          </form>
        </div><!--/.col-->
      </div>
    </div>
  </div><!--/.row-->
</div>