<template src='../../templates/departments/department-list.html'></template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import VueEvents from 'vue-events'
import CustomActions from './comps/CustomActions'
import DetailRow from './comps/DetailRow'
import FilterBar from './comps/FilterBar'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'
import Form from '../../helper/form.js';

Vue.use(VueEvents)
Vue.component('departments-custom-actions', CustomActions)
Vue.component('departments-detail-row', DetailRow)
Vue.component('departments-filter-bar', FilterBar)

export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    Loading,
    Simplert,
  },
  data () {
    return {
      form: new Form({
        name: ''
      }),
      isLoading: false,
      fields: [
        {
          name: '__sequence',
          title: '#',
          titleClass: 'text-right',
          dataClass: 'text-right'
        },
        {
          name: 'name',
          sortField: 'name',
        },
        {
          name: '__slot:actions',
          title: 'Actions',
          titleClass: 'text-center',
          dataClass: 'text-center'
        }

      ],
      css: {
        table: {
          tableClass: 'table table-responsive table-bordered table-striped table-hover',
          ascendingIcon: 'fa fa-chevron-up',
          descendingIcon: 'fa fa-chevron-down'
        },
        pagination: {
          wrapperClass: 'pagination',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'page',
          linkClass: 'link',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          },
        },
        icons: {
          first: 'fa fa-step-backward',
          prev: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          last: 'fa fa-step-forward',
        },
      },
      sortOrder: [
        { field: 'name', sortField: 'name', direction: 'asc'}
      ],
      moreParams: {}
    }
  },

  created(){
    this.isLoading = true
    setTimeout(()=>{
         this.isLoading = false
    },2000);
  },

  methods: {
    allcap (value) {
      return value.toUpperCase()
    },
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onCellClicked (data, field, event) {
      this.$router.push({name:'Programs', params:{department_id: data.id, name:data.name}})

    },
    resetForm(){
      this.form.reset();
    },
    showCreateDepartmentModal()
    {
       $("#create-department").modal('show');
    },
    showUpdateDepartmentModal(id)
    {
      this.form.get('departments/'+id).then(response => {
        this.form.originalData = response;
        this.form.sync();
      });

       $("#update-department").modal('show');
    },
    addNewDepartment(){
      this.form.post('departments')
        .then(response => {
          toastr.success('Department Created Successfully', 'Success Alert', {timeOut: 5000});
          this.form.reset();
           this.$refs.vuetable.refresh();
          // $("#create-department").modal('hide');
        }).catch( e => {

          setTimeout(()=>{
            this.form.errors.clear();
            console.log(this.form.errors);
          },5000);


      });

    },
    deleteDepartment(id){
        let confirmFn = () =>  {
          this.form.delete('departments/'+id).then(response => {
            this.$refs.vuetable.refresh();
            toastr.success('Department Deleted Successfully', 'Success Alert', {timeOut: 5000});
          });
        }

        let obj = {
            title: 'Warning',
            message: 'Are you sure you want to delete?',
            type: 'warning',
            useConfirmBtn: true,
            onConfirm: confirmFn
        }

        this.$refs.deleteconfirmation.openSimplert(obj)
    },

    updateDepartment(id){
        this.form.patch('departments/'+id).then(response=>{
        toastr.success('Department Updated Successfully', 'Success Alert', {timeOut: 5000});
         this.form.reset();
        this.$refs.vuetable.refresh();
        $("#update-department").modal('hide');
      }).catch( e => {
        setTimeout(()=>{
          this.form.errors.clear();
        },5000);
      });;
    },

    close()
    {
       $(".modal").modal('hide');
    },
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>
<style>
.table{
  background: #fff;
}
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}


</style>
