  <div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<simplert ref="addconfirmation"> </simplert>
  	<div  v-if="!isLoading" class="col-md-12 container">
  		

  	<div class="data-container">
  		<h4 class="header-title">PRESET AREAS</h4><br>
  		<p style="margin-left:24px;"><i>Click <strong>ADD AREA</strong> to add the preset area to the program</i></p>
  	<!-- 	<div class="add">
  			 <b-button size="md" variant="primary" data-toggle="modal" @click='showCreateDepartmentModal()'>Create Department</b-button>
  		</div> -->

  		<div class="table-responsive">
	  		<vuetable ref="vuetable" :http-options="{ headers: {Authorization: `Bearer ${this.$auth.token()}`} }" api-url="/api/preset-areas"
			:fields="fields"
			pagination-path=""
			:css="css.table"
			:sort-order="sortOrder"
			:multi-sort="true"
			:append-params="moreParams"
			 @vuetable:cell-clicked="onCellClicked"
			@vuetable:pagination-data="onPaginationData">

	  			<!-- Template for edit and delete button in action column -->
	  			<template slot="actions" slot-scope="props">
	  				<div class="table-button-container">
	  					<div class="custom-actions">
	  						<!-- <button style="border: 1px solid #0000008f;" variant="primary" class="btn btn-md" @click="addPresetArea(props.rowData)"> Add to Area</button> -->
	  						<b-button size="md" variant="primary" @click="addPresetArea(props.rowData)"><i class="fa fa-plus"></i> ADD AREA</b-button>
	  					</div>
	  				</div>
	  			</template>

	  		</vuetable>
  		</div>

	  	<simplert ref="deleteconfirmation"> </simplert>

	  	<div class="vuetable-pagination">
	  		<vuetable-pagination-info ref="paginationInfo"
	  		info-class="pagination-info"
	  		></vuetable-pagination-info>
	  		<vuetable-pagination ref="pagination"
	  		:css="css.pagination"
	  		@vuetable-pagination:change-page="onChangePage"
	  		></vuetable-pagination>
	  	</div>
	</div>


</div>
</div>