<div class="animated fadeIn">

    <loading :active.sync="isLoading"
    :is-full-page="true"></loading>
    <simplert ref="deleteconfirmation"> </simplert>
    <div  v-if="!isLoading" class="col-md-12">

    <div class="data-container">
      <h4 class="header-title">PRESET AREAS</h4>
      <div class="add">
       <router-link :to="{name:'Create Preset Area'}"><div class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Create Preset Area</div></router-link>
      </div>

      <div class="table-responsive">
         <vuetable ref="vuetable"
        :http-options="{ headers: {Authorization: `Bearer ${this.$auth.token()}`} }"
        :api-url="apiUrl"
        :fields="fields"
        pagination-path=""
        :css="css.table"
        :sort-order="sortOrder"
        :multi-sort="true"
        detail-row-component="areas-detail-row"
        :append-params="moreParams"
        @vuetable:cell-clicked="onCellClicked"
        @vuetable:pagination-data="onPaginationData"
      >
         <!-- Template for edit and delete button in action column -->
          <template slot="actions" slot-scope="props">
            <div class="table-button-container">
              <div class="custom-actions">
              <!--   <b-button size="sm" variant="success"  @click="viewArea(props.rowData.id)"><i class="fa fa-search-plus"></i></b-button> -->
                 <b-button size="sm" variant="primary"  @click="editArea(props.rowData.id)"><i class="fa fa-pencil-square"></i></b-button>
                  <b-button size="sm" variant="danger" @click="deleteArea(props.rowData.id)"><i class="fa fa-trash"></i></b-button>
              </div>
            </div>
          </template>

        
      </vuetable>
      <div class="vuetable-pagination">
        <vuetable-pagination-info ref="paginationInfo"
          info-class="pagination-info"
        ></vuetable-pagination-info>
        <vuetable-pagination ref="pagination"
          :css="css.pagination"
          @vuetable-pagination:change-page="onChangePage"
        ></vuetable-pagination>
      </div>
  </div>
</div>
</div>
</div>

