<div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<div  v-if="!isLoading" class="col-md-12 container">
		<div class="data-container evaluation">
			<div role="tablist">

				<div class="add">
					<b-button @click="editArea" size="md" variant="default"><i class="fa fa-pencil-square"></i> Edit Area</b-button>
				</div>

				<div class="introduction">
					<h4 class="header-title">{{form.code}} {{form.title}}</h4>
					<p>{{form.introduction}}</p>
					<div class="clearfix">
						
					</div>
					<hr>
					<h5 class="text-center">AREA DIVISIONS</h5><br>
				</div>
					<b-card :key="areaDivision.id" no-body class="mb-1" v-for="(areaDivision, a_index) in form.areadivisions">
						<b-card-header header-tag="header" class="p-1" role="tab">
							<b-btn block href="#" v-b-toggle="'ad'+areaDivision.id" variant="primary">{{areaDivision.code}}. {{areaDivision.title}}</b-btn>
						</b-card-header>
						<b-collapse :id="'ad'+areaDivision.id" accordion="my-accordion" role="tabpanel">
							<b-card-body>
								<div class="criteria">
									<h6>Criteria: </h6>
									<p>{{areaDivision.criteria}}</p>
								</div>

								<div v-if="areaDivision.tables" class="e_table">
									<div class="table-responsive table-editable" v-for="(table,tindex) in areaDivision.tables">
									  <table class="table table-bordered">

									  	<template v-for="row in table.row_count">
									  		<tr>
									  			<template v-for="content in table.content">
									  				<td v-if="content.row == row-1">
									  					<b-form-textarea :max-rows="10" v-model="content.content" class="t_cell"></b-form-textarea >
									  				</td>
									  			</template>
									  		</tr>
									  	</template>
									  </table>
									</div>
								</div>

								<div v-if="areaDivision.subsets.length >0 " class="subsets1">
									<div v-for="(subset,s1) in areaDivision.subsets">
										<div class="row subset">
											<div class="col-md-11">
												<b-form-fieldset v-if="subset.with_checkbox">
													<b-form-checkbox value="1" unchecked-value="0" ><p><strong>{{subset.code}}</strong> {{subset.description}}</p></b-form-checkbox>
												</b-form-fieldset>
												<p v-else><strong>{{subset.code}}</strong> {{subset.description}}</p>
											</div>
											<div class="col-md-1" v-if="subset.with_ratebox">
												<b-form-fieldset>
													<b-form-input type="text" class="rate" :disabled="subset.isAverage"></b-form-input>
												</b-form-fieldset>
											</div>
										</div>
										<div v-if="subset.with_textarea" class="e_textarea">
											<b-form-fieldset>
												<b-form-textarea :max-rows="10"></b-form-textarea >
											</b-form-fieldset>
										</div> 

										<div v-if="subset.tables" class="e_table">
											<div class="table-responsive table-editable" v-for="(table,tindex) in subset.tables">
											  <table class="table table-bordered">

											  	<template v-for="row in table.row_count">
											  		<tr>
											  			<template v-for="content in table.content">
											  				<td v-if="content.row == row-1" >
											  					<b-form-textarea :max-rows="10" :contenteditable="content.content == null" v-model="content.content" class="t_cell" :disabled="content.isBlank == 0"></b-form-textarea >

											  				</td>
											  			</template>
											  		</tr>
											  	</template>
											  </table>
											</div>
										</div>

										<div v-if="subset.checkboxes">
											<template v-for="c in subset.checkboxes">
												<div class="e_checkbox">
													<p>{{c.instruction}}</p><br>
													<div class="checkbox-options">
														<template v-for="opt in c.options">
															<b-form-fieldset>
																<b-form-checkbox value="1" unchecked-value="0" >{{opt.option}}</b-form-checkbox>
															</b-form-fieldset>
														</template>
													</div>
												</div>
											</template>
										</div>

										<div class="evidence">
											<b-button size="sm" variant="primary"><i class="fa fa-plus"></i> Upload Evidence</b-button>
										</div>

										<div v-if="subset.subsets.length >0 " class="subsets2">
											<div v-for="(subset2,s2) in subset.subsets">
												<div class="row">
													<div class="col-md-11">
														<b-form-fieldset v-if="subset2.with_checkbox">
															<b-form-checkbox value="1" unchecked-value="0" ><p><strong>{{subset2.code}}</strong> {{subset2.description}}</p></b-form-checkbox>
														</b-form-fieldset>
														<p v-else><strong>{{subset2.code}}</strong> {{subset2.description}}</p>
													</div>
													<div class="col-md-1"  v-if="subset2.with_ratebox">
														<b-form-fieldset>
															<b-form-input type="text" class="rate" :disabled="subset2.isAverage"></b-form-input>
														</b-form-fieldset>
													</div>
												</div>
												<div v-if="subset2.with_textarea"  class="e_textarea">
													<b-form-fieldset>
														<b-form-textarea :max-rows="10"></b-form-textarea >
													</b-form-fieldset>
												</div>

												<div v-if="subset2.tables" class="e_table">
													<div class="table-responsive table-editable" v-for="(table,tindex) in subset2.tables">
													  <table class="table table-bordered">

													  	<template v-for="row in table.row_count">
													  		<tr>
													  			<template v-for="content in table.content">
													  				<td v-if="content.row == row-1" contenteditable="true">{{content.content}}</td>
													  			</template>
													  		</tr>
													  	</template>
													  </table>
													</div>
												</div>

												<div v-if="subset2.checkboxes">
													<template v-for="c in subset2.checkboxes">
														<div class="e_checkbox">
															<p>{{c.instruction}}</p><br>
															<div class="checkbox-options">
																<template v-for="opt in c.options">
																	<b-form-fieldset>
																		<b-form-checkbox value="1" unchecked-value="0" >{{opt.option}}</b-form-checkbox>
																	</b-form-fieldset>
																</template>
															</div>
														</div>
													</template>
												</div>

												<div class="evidence">
													<b-button size="sm" variant="primary"><i class="fa fa-plus"></i> Upload Evidence</b-button>
												</div>

												<div v-if="subset2.subsets.length >0 " class="subsets3">
													<div v-for="(subset3,s3) in subset2.subsets">
														<div class="row">
															<div class="col-md-11">
																<b-form-fieldset v-if="subset3.with_checkbox">
																	<b-form-checkbox value="1" unchecked-value="0"><p><strong>{{subset3.code}}</strong> {{subset3.description}}</p></b-form-checkbox>
																</b-form-fieldset>
																<p v-else ><strong>{{subset3.code}}</strong> {{subset3.description}}</p>
															</div>
															<div class="col-md-1"  v-if="subset3.with_ratebox">
																<b-form-fieldset>
																	<b-form-input type="text" class="rate"></b-form-input>
																</b-form-fieldset>
															</div>
														</div>
														<div v-if="subset3.with_textarea">
															<b-form-fieldset>
																<b-form-textarea :max-rows="10" ></b-form-textarea >
															</b-form-fieldset>
														</div>

														<div v-if="subset3.tables" class="e_table">
															<div class="table-responsive table-editable" v-for="(table,tindex) in subset3.tables">
															  <table class="table table-bordered">

															  	<template v-for="row in table.row_count">
															  		<tr>
															  			<template v-for="content in table.content">
															  				<td v-if="content.row == row-1" contenteditable="true">{{content.content}}</td>
															  			</template>
															  		</tr>
															  	</template>
															  </table>
															</div>
														</div>

														<div v-if="subset3.checkboxes">
															<template v-for="c in subset3.checkboxes">
																<div class="e_checkbox">
																	<p>{{c.instruction}}</p><br>
																	<div class="checkbox-options">
																		<template v-for="opt in c.options">
																			<b-form-fieldset>
																				<b-form-checkbox value="1" unchecked-value="0"  >{{opt.option}}</b-form-checkbox>
																			</b-form-fieldset>
																		</template>
																	</div>
																</div>
															</template>
														</div>

														<div class="evidence">
															<b-button size="sm" variant="primary"><i class="fa fa-plus"></i> Upload Evidence</b-button>
														</div>
													</div>
												</div>  <!-- End of Subset 3-->
										</div>  <!-- End of Subset 2-->
										</div>
									</div>
								</div><!-- End of Subset 1-->

								<div class="area-summary" v-if="areaDivision.subsets.length> 0">
									<h6>Summary Evaluation : {{areaDivision.total}}</h6>
									<h6>Comments:</h6>
									<textarea  v-if="areaDivision.evaluation != null"></textarea>
									<textarea v-else></textarea>
								</div>



							</b-card-body>
						</b-collapse>
					</b-card>
			</div>
		</div>
	</div>
</div>
