<template src='../../templates/preset-areas/add-preset-area.html'></template>

<script>

import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import VueEvents from 'vue-events'
import CustomActions from './comps/CustomActions'
import DetailRow from './comps/DetailRow'
import FilterBar from './comps/FilterBar'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'
import Form from '../../helper/form.js';

Vue.use(VueEvents)
Vue.component('areas-custom-actions', CustomActions)
Vue.component('areas-detail-row', DetailRow)
Vue.component('areas-filter-bar', FilterBar)

export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    Loading,
    Simplert,
  },
  data () {
    return {
      program_id:this.$route.params.program_id,
      apiUrl:'/api/preset-areas',
      form: new Form({
        name: ''
      }),
      isLoading: false,
      fields: [
        {
          name: '__sequence',
          title: '#'
        },
        // {
        //   name: '__checkbox',
        //   titleClass: 'text-center',
        //   dataClass: 'text-center',
        // },
        {
          name: 'code',
          sortField: 'code',
        },
        {
          name: 'title',
          sortField: 'title',
        },
        {
          name: 'weight_value',
          title: 'Weight Value',
        },
        {
          name: '__slot:actions',
          title: 'Actions',
          titleClass: 'text-center',
          dataClass: 'text-center'
        }
      ],
      css: {
        table: {
          tableClass: 'table table-responsive table-bordered table-striped table-hover',
          ascendingIcon: 'fa fa-chevron-up',
          descendingIcon: 'fa fa-chevron-down'
        },
        pagination: {
          wrapperClass: 'pagination',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'page',
          linkClass: 'link',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          },
        },
        icons: {
          first: 'fa fa-step-backward',
          prev: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          last: 'fa fa-step-forward',
        },
      },
      sortOrder: [
        { field: 'code', sortField: 'code', direction: 'asc'},
        { field: 'title', sortField: 'title', direction: 'asc'}
      ],
      moreParams: {
        program_id:this.program_id
      }
    }
  },
  created(){
    this.isLoading = true
    setTimeout(()=>{
         this.isLoading = false
    },1000);

    console.log(this.fields);
  },

  methods: {

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onCellClicked (data, field, event) {
       this.$router.push({name:'Preset Area', params:{area_id: data.id}})
    },
    addPresetArea(data)
    {
       let confirmFn = () =>  {
         
          axios.post('add-preset-area',{program_id:this.program_id,area_id:data.id}).then(response => {
             toastr.success('Preset Area Successfully Added to Program', 'Success Alert', {timeOut: 5000});
          });
        
       }

       let obj = {
           title: 'Add Preset Area',
           message: 'Are you sure you want to add this area to the program?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }
      this.$refs.addconfirmation.openSimplert(obj)

    } 
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>
<style>
.table{
  background: #fff;
}
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
</style>
