<template src='../../templates/preset-areas/create-preset-area.html'></template>

<script>

import Form from '../../helper/form.js';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'

export default {
  name: 'createarea',
  components: { Loading,Simplert },
  data: () => ({
    text:'',
    col:[],
    isLoading: false,
    form: new Form({
      title: '',
      code: '',
      weight_value: '',
      introduction:'',
      areadivisions: [],
    }),
  }),
  mounted(){
    this.addAreaDivision();
  },
  created(){
    
    this.isLoading = true;
    setTimeout(()=>{
         this.isLoading = false;
    },1000);
 },
 methods:{
   // USED FOR VUETABLE FIELD CALLBACK
 allcap (value) {
   return value.toUpperCase()
 },

 clearForm () {
   this.form.reset();
   this.form.areadivisions = [];
   this.addAreaDivision();
 },

 addAreaDivision(){

   this.form.areadivisions.push({
      title: '',
      code: '',
      criteria:'',
      subsets:[],
      tables:[]
   });

 },
  addAreaDivisionSubset(i1,i2,i3,level)
  {
    if(level == 1)
    {
      this.form.areadivisions[i1].subsets.push({
         description: '',
         code: '',
         with_ratebox:0,
         with_checkbox:0,
         with_textarea:0,
         subsets:[],
         checkboxes:[],
         tables:[]
      });
    }
    else if (level == 2)
    {
      this.form.areadivisions[i1].subsets[i2].subsets.push({
         description: '',
         code: '',
         with_ratebox:0,
         with_checkbox:0,
         with_textarea:0,
         subsets:[],
         checkboxes:[],
         tables:[]
      });
    }
    else if(level == 3)
    {
      this.form.areadivisions[i1].subsets[i2].subsets[i3].subsets.push({
         description: '',
         code: '',
         with_ratebox:0,
         with_checkbox:0,
         with_textarea:0,
         checkboxes:[],
         tables:[]
      });
    }
    

  },
  addSubsetTable(a_index,s1,s2,s3,level)
  {
    var length,i;
    if(level==1)
    {
      this.form.areadivisions[a_index].subsets[s1].tables.push({
        row:[],
        instruction:''
      });

      length  = this.form.areadivisions[a_index].subsets[s1].tables.length-1;
    }
    else if(level==2)
    {
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.push({
        row:[],
        instruction:''
      });

      length  = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.length-1;
    }
    else if(level==3)
    {
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.push({
        row:[],
        instruction:''
      });

      length  = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.length-1;
    }

    for(i=0;i<2;i++)
    {
      this.addSubsetTableColumn(a_index,s1,s2,s3,length,level);
      this.addSubsetTableRow(a_index,s1,s2,s3,length,level);
    }
    
  },

   addSubsetTableColumn(a_index,s1,s2,s3,t_index,level)
   {
     var row_length,x;
     if(level==1)
     {
       row_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.length;
      for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[a_index].subsets[s1].tables[t_index].row[x].col.push({content:'', row:x});
      }
     }
    else if(level==2)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.length;
      for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row[x].col.push({content:'', row:x});
      }
    }
    else if(level==3)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row.length;
      for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row[x].col.push({content:'', row:x});
      }
    }
    
   },

  addSubsetTableRow(a_index,s1,s2,s3,t_index,level)
   {
     var row_length,x,col_length,col;
     if(level == 1)
     {
       row_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.length;
      if(row_length>0)
      {
        col_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].row[0].col.length;
        col=[];
        for(x=0; x<col_length;x++)
        {
          col.push({content:'',row:row_length});
        }
        this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.push({
              col:col
          });
      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.push({
              col:[{content:'',row:row_length}]
          });
      }
     }
    else if(level == 2)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.length;
      if(row_length>0)
      {
        col_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row[0].col.length;
        col=[];
        for(x=0; x<col_length;x++)
        {
          col.push({content:'',row:row_length});
        }
        this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.push({
              col:col
          });
      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.push({
              col:[{content:'',row:row_length}]
          });
      }
    } 
    else if(level == 3)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row.length;
      if(row_length>0)
      {
        col_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row[0].col.length;
        col=[];
        for(x=0; x<col_length;x++)
        {
          col.push({content:'',row:row_length});
        }
        this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row.push({
              col:col
          });
      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row.push({
              col:[{content:'',row:row_length}]
          });
      }
    } 
   
   },

   removeRow(a_index,s1,s2,s3,t_index,level,i)
   {
    if(level == 0)
    {
      if(this.form.areadivisions[a_index].tables[t_index].row.length > 1)
       this.form.areadivisions[a_index].tables[t_index].row.splice(i, 1);
      else
        this.form.areadivisions[a_index].tables.splice(t_index,1);
    }
     else if(level==1)
     {
      if(this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.length > 1)
        this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.splice(i, 1);
      else
        this.form.areadivisions[a_index].subsets[s1].tables.splice(t_index,1);
     }
    if(level==2)
    {
      if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.length > 1)
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.splice(i, 1);
     else
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.splice(t_index,1);
    }
    if(level==3)
    {
      if(this.form.areadivisions[a_index].subsets[s1].subsets[s3].tables[t_index].row.length > 1)
       this.form.areadivisions[a_index].subsets[s1].subsets[s3].tables[t_index].row.splice(i, 1);
      else
        this.form.areadivisions[a_index].subsets[s1].subsets[s3].tables.splice(t_index,1);
    }
     
   },

   removeColumn(a_index,s1,s2,s3,t_index,level,i)
   {
    var count = 0;
    if(level == 0)
    {
      count = this.form.areadivisions[a_index].tables[t_index].row.length;

      if(this.form.areadivisions[a_index].tables[t_index].row[0].col.length > 1)
      {
        for(var row = 0;row<count;row++)
          this.form.areadivisions[a_index].tables[t_index].row[row].col.splice(i,1);
      }
      else
      {
         this.form.areadivisions[a_index].tables.splice(t_index,1);
      }
    }
    else if(level==1)
    {
      count = this.form.areadivisions[a_index].subsets[s1].tables[t_index].row.length;

      if(this.form.areadivisions[a_index].subsets[s1].tables[t_index].row[0].col.length > 1)
      {
        for(var row = 0;row<count;row++)
          this.form.areadivisions[a_index].subsets[s1].tables[t_index].row[row].col.splice(i,1);
      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].tables.splice(t_index,1);
      }
    }
    else if(level==2)
    {
      count = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row.length;

      if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row[0].col.length > 1)
      {
        for(var row = 0;row<count;row++)
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row[row].col.splice(i,1);
      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.splice(t_index,1);
      }
    }
    else if(level==3)
    {
      count = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row.length;

      if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row[0].col.length > 1)
      {
        for(var row = 0;row<count;row++)
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row[row].col.splice(i,1);
      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.splice(t_index,1);
      }
    }
   },

   removeAreaDivision(index){

       let confirmFn = () =>  {
         this.form.areadivisions.splice(index, 1);
         // toastr.success('Deleted Successfully', 'SUCCESS', {timeOut: 5000});
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }
      this.$refs.deleteconfirmation.openSimplert(obj)
    },

   removeAreaDivisionSubset(areaDivindex,secIndex,thirdIndex,index,level)
   {
      let confirmFn = () =>  {
        if(level == 1)
          this.form.areadivisions[areaDivindex].subsets.splice(index, 1);
        else if(level == 2)
          this.form.areadivisions[areaDivindex].subsets[secIndex].subsets.splice(index, 1);
        else if(level == 3)
          this.form.areadivisions[areaDivindex].subsets[secIndex].subsets[thirdIndex].subsets.splice(index, 1);
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
     
   },
    removeTable(areaDivindex,s1,s2,s3,index,level)
   {
      let confirmFn = () =>  {
        if(level == 0)
          this.form.areadivisions[areaDivindex].tables.splice(index, 1);
        else if(level == 1)
          this.form.areadivisions[areaDivindex].subsets[s1].tables.splice(index, 1);
        else if(level == 2)
          this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].tables.splice(index, 1);
        else if(level == 3)
          this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].subsets[s3].tables.splice(index, 1);
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this table?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
     
   },


  addNewArea(){
    this.form.post('preset-areas').then(response => {
        toastr.success('Areas Created Successfully', 'SUCCESS', {timeOut: 2000});
        this.form.reset();
        this.form.areadivisions = [];
        this.addAreaDivision();

      }).catch( e => {
        
         toastr.error('Error in creating area', 'ERROR', {timeOut: 2000});
    });
  },

  addAreaDivisionTable(index)
  {
    this.form.areadivisions[index].tables.push({
        row:[],
        instruction:''
      });

      var t_index  = this.form.areadivisions[index].tables.length-1;

    for(var i=0;i<2;i++)
    {
      this.addAreaDivisionTableColumn(index,t_index);
      this.addAreaDivisionTableRow(index,t_index);
    }
  },

  addAreaDivisionTableColumn(index,t_index)
  {
    var row_length,x;
    row_length = this.form.areadivisions[index].tables[t_index].row.length;
    for(x=0; x<row_length;x++)
    {
       this.form.areadivisions[index].tables[t_index].row[x].col.push({content:'', row:x});
    }
  },
   addAreaDivisionTableRow(index,t_index)
   {
    var row_length,x,col_length,col;
      row_length = this.form.areadivisions[index].tables[t_index].row.length;
      if(row_length>0)
      {
        col_length = this.form.areadivisions[index].tables[t_index].row[0].col.length;
        col=[];
        for(x=0; x<col_length;x++)
        {
          col.push({content:'',row:row_length});
        }
        this.form.areadivisions[index].tables[t_index].row.push({
              col:col
          });
      }
      else
      {
         this.form.areadivisions[index].tables[t_index].row.push({
              col:[{content:'',row:row_length}]
          });
      }
    },
   addCheckboxList(a_index, s1,s2,s3,level)
   {
     var index;
     if(level == 1)
     {
       this.form.areadivisions[a_index].subsets[s1].checkboxes.push({
        options:[],
        instruction:''
      });
       index = this.form.areadivisions[a_index].subsets[s1].checkboxes.length - 1;
       this.addOption(a_index,s1,s2,s3,index,1);
     }
     else if(level == 2)
     {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.push({
        options:[],
        instruction:''
      });
       index = this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.length - 1;
       this.addOption(a_index,s1,s2,s3,index,2);

     }
     else if(level == 3)
     {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.push({
        options:[],
        instruction:''
      });

       index = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.length - 1;
       this.addOption(a_index,s1,s2,s3,index,3);
     }
   },

   removeCheckbox(a_index,s1,s2,s3,c_index,level)
   {
      let confirmFn = () =>  {
        if(level == 1)
          this.form.areadivisions[a_index].subsets[s1].checkboxes.splice(c_index,1);
        else if(level == 2)
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.splice(c_index,1);
        else if(level == 3)
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.splice(c_index,1);
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
   },

   removeCheckboxOption(a_index,s1,s2,s3,c_index,opt_index,level)
   {
      let confirmFn = () =>  {
        if(level == 1)
          this.form.areadivisions[a_index].subsets[s1].checkboxes[c_index].options.splice(opt_index,1);
        else if(level == 2)
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes[c_index].options.splice(opt_index,1);
        else if(level == 3)
        this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes[c_index].options.splice(opt_index,1);
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
   },

   addOption(a_index,s1,s2,s3,c_index,level)
   {
      if(level == 1)
      {
       this.form.areadivisions[a_index].subsets[s1].checkboxes[c_index].options.push({
        option:''
      });
     }
     else if(level == 2)
      {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes[c_index].options.push({
        option:''
      });
     }
     else if(level == 3)
      {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes[c_index].options.push({
        option:''
      });
     }
   }

  }
}

</script>