<template src='../../templates/preset-areas/preset-area-preview.html'></template>


<script>
import Loading from 'vue-loading-overlay';
import Form from '../../helper/form.js';
import Vue from 'vue'
import Simplert from 'vue2-simplert'

export default {
  components: {
     Loading,
     Simplert
  },
  data () {
    return {
      isLoading :false,
      area_id:'',
    form: new Form({
        code: '',
        title: '',
        areadivisions: []
      }),

      moreParams:{
      }
    }
  },
  beforeCreate(){
  },

  created(){
     this.area_id = this.$route.params.area_id;
    this.isLoading = true;
    this.fetchArea();
  },

  methods: {
    fetchArea()
    {
      this.form.get('preset-areas/'+this.area_id).then(response => {
        this.form.originalData = response;
        this.form.sync();

        for(var i=0;i<this.form.areadivisions.length;i++)
        {
          this.form.areadivisions[i]['total']=0.00;

          if(this.form.areadivisions[i].evaluation == null)
            this.form.areadivisions[i]['comment']='';
        }
         this.isLoading = false;

      },error=>{
        next('404')
      });
    },
   


    editArea()
    {
      this.$router.push({name:'Preset Area', params:{area_id: this.area_id}});
    }


  },
  
  watch:{
     form: {
      handler: function (val, oldVal) { this.computeRatings();},
      deep: true
    },
  }
}
</script>

<style>


</style>
