<template>
  <div class="animated fadeIn">
    <template  v-if="this.$auth.user().role ==='SuperAdmin'">


        <div class="title-page">
          <h3>SuperAdmin Dashboard</h3>
        </div>


    </template>

    <template v-if="this.$auth.user().role ==='Admin'">
        <!-- <AdminLanding /> -->
    </template>

    <template v-if="this.$auth.user().role ==='Evaluator'">
        <EvaluationScale />
    </template>

    <template v-if="this.$auth.user().role ==='Accreditor'">
        <AccreditorLanding/>
    </template>

  </div>
</template>


<script>

import EvaluationScale from './evaluators/EvaluationScale'
import AdminLanding from './admins/Landing'
import AccreditorLanding from './accreditors/Landing'

  export default {
    name: 'dashboard',
    components: {
      EvaluationScale,
      AdminLanding,
      AccreditorLanding
    },
    data: function () {
      return {
      }
    },
    created()
    {
     var user = this.$auth.user();
     if(user.role == 'Admin')
       this.$router.push({name:'Program List - Admin',params:{department_id:user.department_id}})

    },
    methods: {

    }
  }
</script>
