<template src='../../templates/areas/area.html'></template>

<script>

import Form from '../../helper/form.js';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'
import LabelEdit from 'vue-label-edit'

export default {
  components: { Loading,Simplert },
  data: () => ({
    program_id:'',
    text:'',
    col:[],
    isLoading: false,
    form: new Form({
      title: '',
      code: '',
      weight_value: '',
      introduction:'',
      areadivisions: [],
      program_id:''
    }),
  }),
  mounted(){
    this.addAreaDivision();
  },
  created(){
   this.area_id = this.$route.params.area_id;
    this.isLoading = true;
    this.fetchAreaInfo();
 },
 methods:{
   // USED FOR VUETABLE FIELD CALLBACK
 allcap (value) {
   return value.toUpperCase()
 },
 updateArea(){
   console.log(this.form);
      this.form.patch('areas/'+this.area_id).then(response=>{
        toastr.success('Areas Updated Successfully', 'SUCCESS', {timeOut: 5000});
        this.fetchAreaInfo();
      }).catch( e => {

         toastr.error('Error in updating area', 'ERROR', {timeOut: 2000});
      });
    },

   fetchAreaInfo()
   {
      this.form.get('areas/'+this.area_id)
        .then(response => {
           this.form.originalData = response;
            this.form.sync();
            this.isLoading = false;

        }).catch( e => {

      });
   },

  clearForm () {
   this.form.reset();
   this.form.areadivisions = [];
   this.addAreaDivision();
 },

 addAreaDivision(){

   this.form.areadivisions.push({
      title: '',
      code: '',
      criteria:'',
      subsets:[],
      tables:[]
   });

 },
  addAreaDivisionSubset(i1,i2,i3,level)
  {
    if(level == 1)
    {
      this.form.areadivisions[i1].subsets.push({
         description: '',
         code: '',
         with_ratebox:0,
         with_checkbox:0,
         with_textarea:0,
         subsets:[],
         checkboxes:[],
         tables:[]
      });
    }
    else if (level == 2)
    {
      this.form.areadivisions[i1].subsets[i2].subsets.push({
         description: '',
         code: '',
         with_ratebox:0,
         with_checkbox:0,
         with_textarea:0,
         subsets:[],
         checkboxes:[],
         tables:[]
      });
    }
    else if(level == 3)
    {
      this.form.areadivisions[i1].subsets[i2].subsets[i3].subsets.push({
         description: '',
         code: '',
         with_ratebox:0,
         with_checkbox:0,
         with_textarea:0,
         checkboxes:[],
         tables:[]
      });
    }
    

  },
  addSubsetTable(a_index,s1,s2,s3,level)
  {
    var length,i;
    if(level==1)
    {
      this.form.areadivisions[a_index].subsets[s1].tables.push({
        content:[],
        instruction:'',
        row_count:0,
        column_count:0
      });

      length  = this.form.areadivisions[a_index].subsets[s1].tables.length-1;
    }
    else if(level==2)
    {
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.push({
        content:[],
        instruction:'',
        row_count:0,
        column_count:0
      });

      length  = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.length-1;
    }
    else if(level==3)
    {
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.push({
        content:[],
        instruction:'',
        row_count:0,
        column_count:0
      });

      length  = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.length-1;
    }

    for(i=0;i<2;i++)
    {
      this.addSubsetTableColumn(a_index,s1,s2,s3,length,level);
      this.addSubsetTableRow(a_index,s1,s2,s3,length,level);
    }
    
  },

   addSubsetTableColumn(a_index,s1,s2,s3,t_index,level)
   {
     var row_length,column_length,x;
     if(level==1)
     {
       row_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count;
       column_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count;
      for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.push({content:'', row:x,column:column_length});
      }
       this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count = column_length + 1;
     }
    else if(level==2)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count;
      column_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count;
      for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.push({content:'', row:x,column:column_length});
      }
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count = column_length + 1;
    }
    else if(level==3)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count;
      column_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count;
      for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.push({content:'', row:x,column:column_length});
      }
      this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count = column_length + 1;
    }
    
   },

  addSubsetTableRow(a_index,s1,s2,s3,t_index,level)
   {
     var row_length,x,column_length,col;
     if(level == 1)
     {
        row_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count;
        if(row_length>0)
        {
          column_length = this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count;
          col=[];
          for(x=0; x<column_length;x++)
          {
            this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.push({content:'',row:row_length,column:x});
          }
          this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count = row_length + 1;

        }
        else
        {
           this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.push({content:'', row:0,column:0});
           this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count = 1;
           this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count = 1;
        }
     }
    else if(level == 2)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count;
      if(row_length>0)
      {
        column_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count;
        col=[];
        for(x=0; x<column_length;x++)
        {
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.push({content:'',row:row_length,column:x});
        }
        this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count = row_length + 1;

      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.push({content:'', row:0,column:0});
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count = 1;
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count = 1;
      }
    } 
    else if(level == 3)
    {
      row_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count;
      if(row_length>0)
      {
        column_length = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count;
        col=[];
        for(x=0; x<column_length;x++)
        {
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.push({content:'',row:row_length,column:x});
        }
        this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count = row_length + 1;

      }
      else
      {
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.push({content:'', row:0,column:0});
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count = 1;
         this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count = 1;
      }
    } 
   
   },

   removeRow(a_index,s1,s2,s3,t_index,level,i)
   {
      let confirmFn = () =>  {
         var index = 0,count,contents;
        if(level == 0)
        {
          count = this.form.areadivisions[a_index].tables[t_index].content.length;

          if(this.form.areadivisions[a_index].tables[t_index].row_count > 0 || this.form.areadivisions[a_index].tables[t_index].column_count > 0)
          {
            contents =  this.form.areadivisions[a_index].tables[t_index].content;
            var rows =[];
            for(var c = 0; c<count;c++)
            {
              if(contents[c].row == i)
              {
                if(contents[c].id == undefined)
                  this.form.areadivisions[a_index].tables[t_index].content.splice(c,1);
                else
                {
                  rows.push(contents[c].id);
                  this.form.areadivisions[a_index].tables[t_index].content.splice(c,1);
                }

                c--;
                count--;
              }
             
            }
            contents =  this.form.areadivisions[a_index].tables[t_index].content;
            for(var content of contents)
            {
              if(content['row'] != 0)
                  content['row'] -= 1;
            }
            this.form.areadivisions[a_index].tables[t_index].row_count -= 1;
            if(rows.length > 0)
            {
              axios.post('delete-area-division-table-content',{rows:rows,table_id:this.form.areadivisions[a_index].tables[t_index].id,type:'row'}).then(response=>{
                  this.fetchAreaInfo();
              }).catch( e => {
                 toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
              });
            }

            if(this.form.areadivisions[a_index].tables[t_index].content.length == 0)
              this.form.areadivisions[a_index].tables.splice(t_index,1);
            
          }
          else
          {
             this.form.areadivisions[a_index].tables.splice(t_index,1);
          }
        }
         else if(level==1)
         {
            count = this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.length;

            if(this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count > 0 || this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count > 0)
            {
              contents =  this.form.areadivisions[a_index].subsets[s1].tables[t_index].content;
              var rows =[];
              for(var c = 0; c<count;c++)
              {
                if(contents[c].row == i)
                {
                  if(contents[c].id == undefined)
                    this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.splice(c,1);
                  else
                  {
                    rows.push(contents[c].id);
                    this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.splice(c,1);
                  }

                  c--;
                  count--;
                }
               
              }
              contents =  this.form.areadivisions[a_index].subsets[s1].tables[t_index].content;
              for(var content of contents)
              {
                if(content['row'] != 0)
                    content['row'] -= 1;
              }
              this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count -= 1;
              if(rows.length > 0)
              {
                axios.post('delete-subset-table-content',{rows:rows,table_id:this.form.areadivisions[a_index].subsets[s1].tables[t_index].id,type:'row'}).then(response=>{
                    this.fetchAreaInfo();
                }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
                });
              }

              if(this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.length == 0)
                this.form.areadivisions[a_index].subsets[s1].tables.splice(t_index,1);
              
            }
            else
            {
               this.form.areadivisions[a_index].subsets[s1].tables.splice(t_index,1);
            }
         }
        if(level==2)
        {
          count = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.length;

            if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count > 0 || this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count > 0)
            {
              contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content;
              var rows =[];
              for(var c = 0; c<count;c++)
              {
                if(contents[c].row == i)
                {
                  if(contents[c].id == undefined)
                    this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.splice(c,1);
                  else
                  {
                    rows.push(contents[c].id);
                    this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.splice(c,1);
                  }

                  c--;
                  count--;
                }
               
              }
              contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content;
              for(var content of contents)
              {
                if(content['row'] != 0)
                    content['row'] -= 1;
              }
              this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count -= 1;
              if(rows.length > 0)
              {
                axios.post('delete-subset-table-content',{rows:rows,table_id:this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].id,type:'row'}).then(response=>{
                    this.fetchAreaInfo();
                }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
                });
              }

              if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.length == 0)
                this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.splice(t_index,1);
              
            }
            else
            {
               this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.splice(t_index,1);
            }
        }
        if(level==3)
        {
          count = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.length;

            if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count > 0 || this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count > 0)
            {
              contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content;
              var rows =[];
              for(var c = 0; c<count;c++)
              {
                if(contents[c].row == i)
                {
                  if(contents[c].id == undefined)
                    this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.splice(c,1);
                  else
                  {
                    rows.push(contents[c].id);
                    this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.splice(c,1);
                  }

                  c--;
                  count--;
                }
               
              }
              contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content;
              for(var content of contents)
              {
                if(content['row'] != 0)
                    content['row'] -= 1;
              }
              this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count -= 1;
              if(rows.length > 0)
              {
                axios.post('delete-subset-table-content',{rows:rows,table_id:this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].id,type:'row'}).then(response=>{
                    this.fetchAreaInfo();
                }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
                });
              }

              if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.length == 0)
                this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.splice(t_index,1);
              
            }
            else
            {
               this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.splice(t_index,1);
            }
        }
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }
      this.$refs.deleteconfirmation.openSimplert(obj)
     
   },

   removeColumn(a_index,s1,s2,s3,t_index,level,i)
   {
    var count = 0, contents;

    let confirmFn = () =>  {
        if(level == 0)
        {
          count = this.form.areadivisions[a_index].tables[t_index].content.length;

          if(this.form.areadivisions[a_index].tables[t_index].column_count > 0 || this.form.areadivisions[a_index].tables[t_index].row_count > 0)
          {
            contents =  this.form.areadivisions[a_index].tables[t_index].content;
            var columns =[];
            for(var c = 0; c<count;c++)
            {
              if(contents[c].column == i)
              {
                if(contents[c].id == undefined)
                  this.form.areadivisions[a_index].tables[t_index].content.splice(c,1);
                else
                {
                  columns.push(contents[c].id);
                  this.form.areadivisions[a_index].tables[t_index].content.splice(c,1);
                }

                c--;
                count--;
              }
             
            }
            contents =  this.form.areadivisions[a_index].tables[t_index].content;
            for(var content of contents)
            {
              if(content['column'] != 0)
                content['column'] -= 1;
            }
            this.form.areadivisions[a_index].tables[t_index].column_count -= 1;
            console.log(columns);
            if(columns.length > 0)
            {
              axios.post('delete-area-division-table-content',{columns:columns,table_id:this.form.areadivisions[a_index].tables[t_index].id,type:'column'}).then(response=>{
                  this.fetchAreaInfo();
              }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
              });
            }

            if(this.form.areadivisions[a_index].tables[t_index].content.length == 0)
              this.form.areadivisions[a_index].tables.splice(t_index,1);
            
          }
          else
          {
             this.form.areadivisions[a_index].tables.splice(t_index,1);
          }
        }
        else if(level==1)
        {
          count = this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.length;

          if(this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count > 0 || this.form.areadivisions[a_index].subsets[s1].tables[t_index].row_count > 0)
          {
            contents =  this.form.areadivisions[a_index].subsets[s1].tables[t_index].content;
            var columns =[];
            for(var c = 0; c<count;c++)
            {
              if(contents[c].column == i)
              {
                if(contents[c].id == undefined)
                  this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.splice(c,1);
                else
                {
                  columns.push(contents[c].id);
                  this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.splice(c,1);
                }

                c--;
                count--;
              }
             
            }
            contents =  this.form.areadivisions[a_index].subsets[s1].tables[t_index].content;
            for(var content of contents)
            {
              if(content['column'] != 0)
                content['column'] -= 1;
            }
            this.form.areadivisions[a_index].subsets[s1].tables[t_index].column_count -= 1;
            console.log(columns);
            if(columns.length > 0)
            {
              axios.post('delete-subset-table-content',{columns:columns,table_id:this.form.areadivisions[a_index].subsets[s1].tables[t_index].id,type:'column'}).then(response=>{
                  this.fetchAreaInfo();
              }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
              });
            }

            if(this.form.areadivisions[a_index].subsets[s1].tables[t_index].content.length == 0)
              this.form.areadivisions[a_index].subsets[s1].tables.splice(t_index,1);
            
          }
          else
          {
             this.form.areadivisions[a_index].subsets[s1].tables.splice(t_index,1);
          }
        }
        else if(level==2)
        {
          count = this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.length;

          if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count > 0 || this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].row_count > 0)
          {
            contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content;
            var columns =[];
            for(var c = 0; c<count;c++)
            {
              if(contents[c].column == i)
              {
                if(contents[c].id == undefined)
                  this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.splice(c,1);
                else
                {
                  columns.push(contents[c].id);
                  this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.splice(c,1);
                }

                c--;
                count--;
              }
             
            }
            contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content;
            for(var content of contents)
            {
              if(content['column'] != 0)
                content['column'] -= 1;
            }
            this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].column_count -= 1;
            console.log(columns);
            if(columns.length > 0)
            {
              axios.post('delete-subset-table-content',{columns:columns,table_id:this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].id,type:'column'}).then(response=>{
                  this.fetchAreaInfo();
              }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
              });
            }

            if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables[t_index].content.length == 0)
              this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.splice(t_index,1);
            
          }
          else
          {
             this.form.areadivisions[a_index].subsets[s1].subsets[s2].tables.splice(t_index,1);
          }
        }
        else if(level==3)
        {
          count = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.length;

          if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count > 0 || this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].row_count > 0)
          {
            contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content;
            var columns =[];
            for(var c = 0; c<count;c++)
            {
              if(contents[c].column == i)
              {
                if(contents[c].id == undefined)
                  this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.splice(c,1);
                else
                {
                  columns.push(contents[c].id);
                  this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.splice(c,1);
                }

                c--;
                count--;
              }
             
            }
            contents =  this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content;
            for(var content of contents)
            {
              if(content['column'] != 0)
                content['column'] -= 1;
            }
            this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].column_count -= 1;
            console.log(columns);
            if(columns.length > 0)
            {
              axios.post('delete-subset-table-content',{columns:columns,table_id:this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].id,type:'column'}).then(response=>{
                  this.fetchAreaInfo();
              }).catch( e => {
                   toastr.error('Error in deleting content', 'ERROR', {timeOut: 2000});
              });
            }

            if(this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables[t_index].content.length == 0)
              this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.splice(t_index,1);
            
          }
          else
          {
             this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].tables.splice(t_index,1);
          }
        }
        
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }
      this.$refs.deleteconfirmation.openSimplert(obj)
   },

    removeAreaDivision(index,id){

      let confirmFn = () =>  {

        if(id == undefined)
           this.form.areadivisions.splice(index, 1);
         else
         {
          this.form.delete('delete-area-division/'+id).then(response=>{
             this.form.areadivisions.splice(index, 1);
              toastr.success('Area Division Deleted Successfully', 'SUCCESS', {timeOut: 5000});
            }).catch( e => {
                   toastr.error('Error in deleting area division', 'ERROR', {timeOut: 2000});
            });
         }
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }
      this.$refs.deleteconfirmation.openSimplert(obj)
    },

   removeAreaDivisionSubset(areaDivindex,s1,s2,index,level,id)
   {
      let confirmFn = () =>  {
        if(id == undefined)
        {
          if(level == 1)
            this.form.areadivisions[areaDivindex].subsets.splice(index, 1);
          else if(level == 2)
            this.form.areadivisions[areaDivindex].subsets[s1].subsets.splice(index, 1);
          else if(level == 3)
            this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].subsets.splice(index, 1);
        }
        else
        {
          this.form.delete('delete-division-subset/'+id).then(response=>{
           if(level == 1)
            this.form.areadivisions[areaDivindex].subsets.splice(index, 1);
          else if(level == 2)
            this.form.areadivisions[areaDivindex].subsets[s1].subsets.splice(index, 1);
          else if(level == 3)
            this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].subsets.splice(index, 1);

            toastr.success('Area Division Subset Deleted Successfully', 'SUCCESS', {timeOut: 5000});
          }).catch( e => {

                   toastr.error('Error in deleting subset', 'ERROR', {timeOut: 2000});
          });
        }
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
     
   },
    removeTable(areaDivindex,s1,s2,s3,index,level,id)
   {
      let confirmFn = () =>  {
        if(level == 0)
        {
          if(id == undefined)
            this.form.areadivisions[areaDivindex].tables.splice(index, 1);
          else
          {
            this.form.delete('delete-area-division-table/'+id).then(response=>{
              this.form.areadivisions[areaDivindex].tables.splice(index, 1);
              toastr.success('Table Deleted Successfully', 'SUCCESS', {timeOut: 5000});
            }).catch( e => {

                   toastr.error('Error in deleting table', 'ERROR', {timeOut: 2000});
            });
          }  
          
        }
        else if(level == 1)
        {
          if(id == undefined)
             this.form.areadivisions[areaDivindex].subsets[s1].tables.splice(index, 1);
          else
          {
            this.form.delete('delete-subset-table/'+id).then(response=>{
              this.form.areadivisions[areaDivindex].subsets[s1].tables.splice(index, 1)
              toastr.success('Table Deleted Successfully', 'SUCCESS', {timeOut: 5000});
            }).catch( e => {

                   toastr.error('Error in deleting table', 'ERROR', {timeOut: 2000});
            });
          }
          
        }
        else if(level == 2)
        {
          if(id == undefined)
             this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].tables.splice(index, 1);
          else
          {
            this.form.delete('delete-subset-table/'+id).then(response=>{
              this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].tables.splice(index, 1)
              toastr.success('Table Deleted Successfully', 'SUCCESS', {timeOut: 5000});
            }).catch( e => {
                   toastr.error('Error in deleting table', 'ERROR', {timeOut: 2000});
            });
          }
        }
        else if(level == 3)
        {
          if(id == undefined)
             this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].subsets[s3].tables.splice(index, 1);
          else
          {
            this.form.delete('delete-subset-table/'+id).then(response=>{
              this.form.areadivisions[areaDivindex].subsets[s1].subsets[s2].subsets[s3].tables.splice(index, 1)
              toastr.success('Table Deleted Successfully', 'SUCCESS', {timeOut: 5000});
            }).catch( e => {
                   toastr.error('Error in deleting table', 'ERROR', {timeOut: 2000});
            });
          }
        }


       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this table?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
     
   },

  addAreaDivisionTable(index)
  {
    this.form.areadivisions[index].tables.push({
        content:[],
        instruction:'',
        row_count:0,
        column_count:0
      });

      var t_index  = this.form.areadivisions[index].tables.length-1;

    for(var i=0;i<2;i++)
    {
      this.addAreaDivisionTableColumn(index,t_index);
      this.addAreaDivisionTableRow(index,t_index);
    }
  },

  addAreaDivisionTableColumn(index,t_index)
  {
    var row_length,column_length,x;
    row_length = this.form.areadivisions[index].tables[t_index].row_count;
    column_length = this.form.areadivisions[index].tables[t_index].column_count;
    if(column_length > 0)
    {
       for(x=0; x<row_length;x++)
      {
         this.form.areadivisions[index].tables[t_index].content.push({content:'', row:x,column:column_length});
      }
      this.form.areadivisions[index].tables[t_index].column_count = column_length + 1;
   // this.form.areadivisions[index].tables[t_index].row_count = row_length + 1;
    }
    else
    {
      //   for(x=0; x<row_length;x++)
      // {
         this.form.areadivisions[index].tables[t_index].content.push({content:'', row:0,column:0});
         this.form.areadivisions[index].tables[t_index].column_count = 1;
    this.form.areadivisions[index].tables[t_index].row_count = 1;
      //}
    }
   
    
  },
   addAreaDivisionTableRow(index,t_index)
   {
      var row_length,x,column_length,col;
      row_length = this.form.areadivisions[index].tables[t_index].row_count;
      column_length = this.form.areadivisions[index].tables[t_index].column_count;
      if(row_length>0)
      {
        column_length = this.form.areadivisions[index].tables[t_index].column_count;
        col=[];
        for(x=0; x<column_length;x++)
        {
           this.form.areadivisions[index].tables[t_index].content.push({content:'',row:row_length,column:x});
        }
        this.form.areadivisions[index].tables[t_index].row_count = row_length + 1;
      }
      else
      {
         this.form.areadivisions[index].tables[t_index].content.push({content:'', row:0,column:0});
         this.form.areadivisions[index].tables[t_index].column_count =  1;
         this.form.areadivisions[index].tables[t_index].row_count = 1;

      }
    },
   addCheckboxList(a_index, s1,s2,s3,level)
   {
     var index;
     if(level == 1)
     {
       this.form.areadivisions[a_index].subsets[s1].checkboxes.push({
        options:[],
        instruction:''
      });
       index = this.form.areadivisions[a_index].subsets[s1].checkboxes.length - 1;
       this.addOption(a_index,s1,s2,s3,index,1);
     }
     else if(level == 2)
     {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.push({
        options:[],
        instruction:''
      });
       index = this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.length - 1;
       this.addOption(a_index,s1,s2,s3,index,2);

     }
     else if(level == 3)
     {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.push({
        options:[],
        instruction:''
      });

       index = this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.length - 1;
       this.addOption(a_index,s1,s2,s3,index,3);
     }
   },

   removeCheckbox(a_index,s1,s2,s3,c_index,level,id)
   {
      let confirmFn = () =>  {

        if(id == undefined)
        {
          if(level == 1)
            this.form.areadivisions[a_index].subsets[s1].checkboxes.splice(c_index,1);
          else if(level == 2)
            this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.splice(c_index,1);
          else if(level == 3)
           this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.splice(c_index,1);
        }
        else
        {
          this.form.delete('delete-subset-checkbox/'+id).then(response=>{
            if(level == 1)
              this.form.areadivisions[a_index].subsets[s1].checkboxes.splice(c_index,1);
            else if(level == 2)
              this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes.splice(c_index,1);
            else if(level == 3)
             this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes.splice(c_index,1);

            }).catch( e => {

                   toastr.error('Error in deleting checkbox', 'ERROR', {timeOut: 2000});
          });
        }
        
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
   },

   removeCheckboxOption(a_index,s1,s2,s3,c_index,opt_index,level,id)
   {
     console.log(id)
      let confirmFn = () =>  {

        if(id == undefined)
        {
          if(level == 1)
            this.form.areadivisions[a_index].subsets[s1].checkboxes[c_index].options.splice(opt_index,1);
          else if(level == 2)
            this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes[c_index].options.splice(opt_index,1);
          else if(level == 3)
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes[c_index].options.splice(opt_index,1);
        }
        else
         {
           this.form.delete('delete-subset-checkbox-option/'+id).then(response=>{
             if(level == 1)
              this.form.areadivisions[a_index].subsets[s1].checkboxes[c_index].options.splice(opt_index,1);
            else if(level == 2)
              this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes[c_index].options.splice(opt_index,1);
            else if(level == 3)
            this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes[c_index].options.splice(opt_index,1);

            }).catch( e => {

                   toastr.error('Error in deleting checkbox option', 'ERROR', {timeOut: 2000});
          });
         }
       }

       let obj = {
           title: 'Warning',
           message: 'Are you sure you want to delete this item?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }

      this.$refs.deleteconfirmation.openSimplert(obj)
   },

   addOption(a_index,s1,s2,s3,c_index,level)
   {
      if(level == 1)
      {
       this.form.areadivisions[a_index].subsets[s1].checkboxes[c_index].options.push({
        option:''
      });
     }
     else if(level == 2)
      {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].checkboxes[c_index].options.push({
        option:''
      });
     }
     else if(level == 3)
      {
       this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].checkboxes[c_index].options.push({
        option:''
      });
     }
   }

  }
}

</script>
<style>
.w-240 {
  width: 240px;
}
</style>
