<div class="animated fadeIn">

  <loading :active.sync="isLoading"
  :is-full-page="true"></loading>

    <div v-if="!isLoading">
    <div class="areas-dashboard">
      <div class="row justify-content-md-center">
           <div class="col-sm-6 col-md-4 text-center" @click="goToAccreditationSummary">
            <b-card variant="primary" header="Summary">
              <strong>GENERAL ACCREDITATION SUMMARY</strong>
            </b-card>
          </div>
        </div>
        <div class="container">
        <div class="row justify-content-md-center" v-if="areas.length <= 4">
            <div class="col text-center" v-for="area in areas" @click="goToArea(area.id)">
                <b-card variant="primary" :header="area.code">
                 <strong>{{allcap(area.title)}}</strong>
                </b-card>
            </div>
        </div>
        <div class="row justify-content-md-center" v-else>
             <div class="col-sm-6 col-md-3 text-center" v-for="area in areas" @click="goToArea(area.id)">
              <b-card variant="primary" :header="area.code">
               <strong>{{allcap(area.title)}}</strong>
              </b-card>
          </div> 
      </div>
        </div>
    </div>
  </div>
  
</div>