  <div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<div  v-if="!isLoading" class="program col-md-10">

  	<div class="data-container">
        <div class="text-center">
            <h4></span>PROGRAMS</h4>
            <br>
        </div>

  		<div class="table-responsive">
	  		<vuetable ref="vuetable" :http-options="{ headers: {Authorization: `Bearer ${this.$auth.token()}`} }" :api-url="apiUrl"
			:fields="fields"
			pagination-path=""
			:css="css.table"
			:sort-order="sortOrder"
			:multi-sort="true"
			:append-params="moreParams"
			 @vuetable:cell-clicked="onCellClicked"
			@vuetable:pagination-data="onPaginationData">

	  		</vuetable>
  		</div>


	  	<div class="vuetable-pagination">
	  		<vuetable-pagination-info ref="paginationInfo"
	  		info-class="pagination-info"
	  		></vuetable-pagination-info>
	  		<vuetable-pagination ref="pagination"
	  		:css="css.pagination"
	  		@vuetable-pagination:change-page="onChangePage"
	  		></vuetable-pagination>
	  	</div>
	</div>


</div>
</div>