  <div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<simplert ref="deleteconfirmation"> </simplert>
  	<div  v-if="!isLoading" class="col-md-12">

  	<div class="data-container">
        <div class="text-center">
          	<h6>{{name}}</h6>
            <h4></span>PROGRAMS</h4>
        </div>
        <div class="add">
             <b-button size="sm" variant="primary" data-toggle="modal" @click='showCreateProgramModal()'><i class="fa fa-plus"></i> Create New Program</b-button>
        </div>


  		<div class="table-responsive">
	  		<vuetable ref="vuetable" :http-options="{ headers: {Authorization: `Bearer ${this.$auth.token()}`} }" :api-url="apiUrl"
			:fields="fields"
			pagination-path=""
			:css="css.table"
			:sort-order="sortOrder"
			:multi-sort="true"
			:append-params="moreParams"
			 @vuetable:cell-clicked="onCellClicked"
			@vuetable:pagination-data="onPaginationData">

	  			<!-- Template for edit and delete button in action column -->
	  			<template slot="actions" slot-scope="props">
	  				<div class="table-button-container">
	  					<div class="custom-actions">
	  						 <b-button size="sm" variant="primary"  @click="showUpdateProgramModal(props.rowData.id)"><i class="fa fa-pencil-square"></i></b-button>
                    		<b-button size="sm" variant="danger" @click="deleteProgram(props.rowData.id)"><i class="fa fa-trash"></i></b-button>
	  					</div>
	  				</div>
	  			</template>

	  		</vuetable>
  		</div>

	  	<simplert ref="deleteconfirmation"> </simplert>

	  	<div class="vuetable-pagination">
	  		<vuetable-pagination-info ref="paginationInfo"
	  		info-class="pagination-info"
	  		></vuetable-pagination-info>
	  		<vuetable-pagination ref="pagination"
	  		:css="css.pagination"
	  		@vuetable-pagination:change-page="onChangePage"
	  		></vuetable-pagination>
	  	</div>
	</div>


  	<!-- Modal for Creating Program -->
  	<form  @submit.prevent="addNewProgram()" @keydown="form.errors.clear($event.target.name)">
  		<div class="modal fade" id="create-program" tabindex="-1" role="dialog" aria-labelledby="addProgramModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
	  			<div class="modal-content">
	  				<div class="modal-header">
	  					<h5 class="modal-title" id="addProgramModalLabel">Create Program</h5>
	  					<button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="resetForm">
	  						<span aria-hidden="true">&times;</span>
	  					</button>
	  				</div>
	  				<div class="modal-body">
	  					<b-form-fieldset
	  					label="Program Name"
	  					description="Please enter the Program tile."
	  					:label-cols="2"
	  					:horizontal="true">
	  					<b-input-group  right="<span>Required</span>">
	  						<b-form-input type="text" :class="form.errors.has('title') ? 'is-invalid' : '' " v-model="form.title" ></b-form-input>
	  					</b-input-group>
	  					<div v-if="form.errors.has('title')" class="invalid-feedback d-block">
	  						{{ form.errors.get('title') }}
	  					</div>
	  				</b-form-fieldset>
	  				<div slot="footer" class="pull-right">
	  					<b-button type="submit" size="sm" variant="primary">Create</b-button>
	  					<b-button  @click="close" type="reset" size="sm" variant="default">Close</b-button>
	  				</div>
	  			</div>
  				</div>
  			</div>
  		</div>
	</form>

	<form  @submit.prevent="updateProgram(form.id)" @keydown="form.errors.clear($event.target.name)">
  		<div class="modal fade" id="update-program" tabindex="-1" role="dialog" aria-labelledby="updateProgramModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
	  			<div class="modal-content">
	  				<div class="modal-header">
	  					<h5 class="modal-title" id="updateProgramModalLabel">Update Program</h5>
	  					<button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="resetForm">
	  						<span aria-hidden="true">&times;</span>
	  					</button>
	  				</div>
	  				<div class="modal-body">
	  					<b-form-fieldset
	  					label="Program Name"
	  					:label-cols="2"
	  					:horizontal="true">
	  					<b-input-group  right="<span>Required</span>">
	  						<b-form-input type="text" :class="form.errors.has('title') ? 'is-invalid' : '' " v-model="form.title" ></b-form-input>
	  					</b-input-group>
	  					<div v-if="form.errors.has('title')" class="invalid-feedback d-block">
	  						{{ form.errors.get('title') }}
	  					</div>
	  				</b-form-fieldset>
	  				<div slot="footer" class="pull-right">
	  					<b-button type="submit" size="sm" variant="primary">Update</b-button>
	  					<b-button  @click="closeUpdateModal" type="reset" size="sm" variant="default"> Cancel</b-button>
	  				</div>
	  			</div>
  				</div>
  			</div>
  		</div>
	</form>

</div>
</div>