  <div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<simplert ref="deleteconfirmation"> </simplert>
  	<div  v-if="!isLoading" class="col-md-12 container">
  		

  	<div class="data-container">
        <h4 class="text-center">DEPARTMENTS</h4>
        <div class="add">
        	<b-button size="sm" variant="primary" data-toggle="modal" @click='showCreateDepartmentModal()'><i class="fa fa-plus"></i> Create New Department</b-button>
        </div>
  		<div class="table-responsive">
	  		<vuetable ref="vuetable" :http-options="{ headers: {Authorization: `Bearer ${this.$auth.token()}`} }" api-url="/api/departments"
			:fields="fields"
			pagination-path=""
			:css="css.table"
			:sort-order="sortOrder"
			:multi-sort="true"
			:append-params="moreParams"
			 @vuetable:cell-clicked="onCellClicked"
			@vuetable:pagination-data="onPaginationData">

	  			<!-- Template for edit and delete button in action column -->
	  			<template slot="actions" slot-scope="props">
	  				<div class="table-button-container">
	  					<div class="custom-actions">
	  						 <b-button size="sm" variant="primary"  @click="showUpdateDepartmentModal(props.rowData.id)"><i class="fa fa-pencil-square"></i></b-button>
                    		<b-button size="sm" variant="danger" @click="deleteDepartment(props.rowData.id)"><i class="fa fa-trash"></i></b-button>
	  					</div>
	  				</div>
	  			</template>

	  		</vuetable>
  		</div>

	  	<simplert ref="deleteconfirmation"> </simplert>

	  	<div class="vuetable-pagination">
	  		<vuetable-pagination-info ref="paginationInfo"
	  		info-class="pagination-info"
	  		></vuetable-pagination-info>
	  		<vuetable-pagination ref="pagination"
	  		:css="css.pagination"
	  		@vuetable-pagination:change-page="onChangePage"
	  		></vuetable-pagination>
	  	</div>
	</div>


  	<!-- Modal for Creating Department -->
  	<form  @submit.prevent="addNewDepartment()" @keydown="form.errors.clear($event.target.name)">
  		<div class="modal fade" id="create-department" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
	  			<div class="modal-content">
	  				<div class="modal-header">
	  					<h5 class="modal-title" id="addDepartmentModalLabel">Create Department</h5>
	  					<button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="resetForm">
	  						<span aria-hidden="true">&times;</span>
	  					</button>
	  				</div>
	  				<div class="modal-body">
	  					<b-form-fieldset
	  					label="Department Name"
	  					description="Please enter the Department name."
	  					:label-cols="4"
	  					:horizontal="true">
	  					<b-input-group>
	  						<b-form-input type="text" :class="form.errors.has('name') ? 'is-invalid' : '' " v-model="form.name" ></b-form-input>
	  					</b-input-group>
	  					<div v-if="form.errors.has('name')" class="invalid-feedback d-block">
	  						{{ form.errors.get('name') }}
	  					</div>
	  				</b-form-fieldset>
	  				<div slot="footer" class="pull-right">
	  					<b-button type="submit" size="sm" variant="primary">Create</b-button>
	  					<b-button  @click="close" type="reset" size="sm" variant="default"> Close</b-button>
	  				</div>
	  			</div>
  				</div>
  			</div>
  		</div>
	</form>

	<form  @submit.prevent="updateDepartment(form.id)" @keydown="form.errors.clear($event.target.name)">
  		<div class="modal fade" id="update-department" tabindex="-1" role="dialog" aria-labelledby="updateDepartmentModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
	  			<div class="modal-content">
	  				<div class="modal-header">
	  					<h5 class="modal-title" id="updateDepartmentModalLabel">Update Department</h5>
	  					<button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="resetForm">
	  						<span aria-hidden="true">&times;</span>
	  					</button>
	  				</div>
	  				<div class="modal-body">
	  					<b-form-fieldset
	  					label="Department Name"
	  					:label-cols="4"
	  					:horizontal="true">
	  					<b-input-group>
	  						<b-form-input type="text" :class="form.errors.has('name') ? 'is-invalid' : '' " v-model="form.name" ></b-form-input>
	  					</b-input-group>
	  					<div v-if="form.errors.has('name')" class="invalid-feedback d-block">
	  						{{ form.errors.get('name') }}
	  					</div>
	  				</b-form-fieldset>
	  				<div slot="footer" class="pull-right">
	  					<b-button type="submit" size="sm" variant="primary">Update</b-button>
	  					<b-button  @click="close" type="reset" size="sm" variant="default">Cancel</b-button>
	  				</div>
	  			</div>
  				</div>
  			</div>
  		</div>
	</form>

</div>
</div>