<template>
  <footer class="app-footer">
    <a href="">PACUCOA Accreditation</a> &copy; {{ new Date().getFullYear() }} .
    <!-- <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span> -->
  </footer>
</template>
<script>
export default {
  name: 'afooter'
}
</script>
