<div class="animated fadeIn">
	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
	<div  v-if="!isLoading" class="data-container">
		<h4 class="header-title">General Accreditation Summary</h4>
		<br>
		<div class="table-responsive">
		  <table class="table table-bordered">
		  	<thead class="thead-dark">
		  		<tr>
		  			<th style="width: 10%">Area Division</th>
		  			<th style="width: 80%">Title</th>
		  			<th style="width: 10%">Average</th>
		  			<th style="width: 10%">Weight Value</th>
		  			<th style="width: 10%">Weighted Average</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr v-for="area in areas">
			    	<td>{{area.code}}</td>
			    	<td>{{area.title}}</td>
			    	<td>{{area.general_average}}</td>
			    	<td>{{area.weight_value}}</td>
			    	<td>{{area.weighted_average}}</td>
			    </tr>
			    <tr>
			    	<td class="borderless" colspan="3">Total</td>
			    	<td><strong>{{total.weight_value}}</strong></td>
			    	<td><strong>{{total.weighted_average}}</strong></td>
			    </tr>
			    <tr>
			    	<td class="borderless" colspan="4">Final Evaluation</td>
			    	<td><strong>{{final_evaluation}}</strong></td>
			    </tr>
		  	</tbody>
		    
		  </table>
		</div>

		<div>
			<br><br>
			<h6>WEIGHTED AVERAGE = Average x Weight Value</h6>
			<h6>FINAL EVALUATION = Total Weighted Average / Total Weight Value</h6>
		</div>
	</div>
</div>