<div class="animated fadeIn">

  	<loading :active.sync="isLoading"
  	:is-full-page="true"></loading>
  	<div  v-if="!isLoading" class="col-md-12 container">

		<div class="data-container evaluation">
			<div role="tablist">
				<div class="introduction">
					<h6  class="header-title">{{data.program.department.name}}</h6>
					<h6  class="header-title">{{data.program.title}}</h6>
					<br>
					<h4 class="header-title">{{data.code}} {{data.title}}</h4>
					<p>{{data.introduction}}</p>
					<div class="clearfix">
						
					</div>
					<hr>
					<h5 class="text-center">AREA DIVISIONS</h5><br>
				</div>
					<b-card :key="areaDivision.id" no-body class="mb-1" v-for="(areaDivision, a_index) in data.areadivisions">
						<b-card-header header-tag="header" class="p-1" role="tab">
							<b-btn block href="#" v-b-toggle="'ad'+areaDivision.id" variant="primary">{{areaDivision.code}}. {{areaDivision.title}}</b-btn>
						</b-card-header>
						<b-collapse :id="'ad'+areaDivision.id" accordion="my-accordion" role="tabpanel">
							<b-card-body>
								<div class="criteria">	
									<h6>Criteria: </h6>
									<p>{{areaDivision.criteria}}</p>
								</div>

								<div v-if="areaDivision.tables" class="e_table">
									<div class="table-responsive" v-for="(table,tindex) in areaDivision.tables">
									  <table class="table table-bordered">

									  	<template v-for="row in table.row_count">
									  		<tr>
									  			<template v-for="content in table.content">
									  				<td v-if="content.row == row-1 && content.isBlank == 0" >
									  					<strong>{{content.content}}</strong>
									  				</td>
									  				<td v-if="content.row == row-1 && content.isBlank == 1" >
									  					{{content.content}}
									  				</td>
									  			</template>
									  		</tr>
									  	</template>
									  </table>
									</div>
								</div>

								<div v-if="areaDivision.subsets.length >0 " class="subsets1">
									<div v-for="(subset,s1) in areaDivision.subsets">
										<div class="row subset">
											<div class="col-md-10">
												<b-form-fieldset v-if="subset.with_checkbox">
													<b-form-checkbox value="1" unchecked-value="0" disabled v-model="subset.evaluation.checkbox"><p><strong>{{subset.code}}</strong> {{subset.description}}</p></b-form-checkbox>
												</b-form-fieldset>
												<p v-else><strong>{{subset.code}}</strong> {{subset.description}}</p>
											</div>
											<div class="col-md-2" v-if="subset.with_ratebox">
												<b-form-fieldset>
													<b-form-input type="text" class="rate" v-model="subset.evaluation.rate"  disabled></b-form-input>
												</b-form-fieldset>
											</div>
										</div>
										<div v-if="subset.with_textarea && subset.evaluation.textarea != null" class="e_textarea">
											{{subset.evaluation.textarea}}
										</div> 

										<div v-if="subset.tables" class="e_table">
											<div class="table-responsive" v-for="(table,tindex) in subset.tables">
											  <table class="table table-bordered">

											  	<template v-for="row in table.row_count">
											  		<tr>
											  			<template v-for="content in table.content">
											  				<td v-if="content.row == row-1 && content.isBlank == 0" >
											  					<strong>{{content.content}}</strong>
											  				</td>
											  				<td v-if="content.row == row-1 && content.isBlank == 1" >
											  					{{content.content}}
											  				</td>
											  			</template>
											  		</tr>
											  	</template>
											  </table>
											</div>
										</div>

										<div class="evidence">
											<div v-if="subset.evidences.length > 0">
												<p><strong>Evidences:</strong></p>
												<template v-for="(evidence,e) in subset.evidences">
													<span  class="file">
								  					<span @click="showEvidence(evidence)" class="filename-evidence" >{{evidence.filename}} </span> 
								  					</span>
												</template>
												
											</div>
										</div>

										<div v-if="subset.subsets.length >0 " class="subsets2">
											<div v-for="(subset2,s2) in subset.subsets">
												<div class="row">
													<div class="col-md-10">
														<b-form-fieldset v-if="subset2.with_checkbox">
															<b-form-checkbox value="1" unchecked-value="0" v-model="subset2.evaluation.checkbox"  disabled><p><strong>{{subset2.code}}</strong> {{subset2.description}}</p></b-form-checkbox>
														</b-form-fieldset>
														<p v-else><strong>{{subset2.code}}</strong> {{subset2.description}}</p>
													</div>
													<div class="col-md-2"  v-if="subset2.with_ratebox">
														<b-form-fieldset>
															<b-form-input type="text" class="rate" v-model="subset2.evaluation.rate"disabled></b-form-input>
														</b-form-fieldset>
													</div>
												</div>
												<div v-if="subset2.with_textarea && subset2.evaluation.textarea"  class="e_textarea">
													{{subset2.evaluation.textarea}}
												</div>

												<div v-if="subset2.tables" class="e_table">
													<div class="table-responsive" v-for="(table,tindex) in subset2.tables">
													  <table class="table table-bordered">

													  	<template v-for="row in table.row_count">
													  		<tr>
													  			<template v-for="content in table.content">
													  				<td v-if="content.row == row-1 && content.isBlank == 0" >
													  					<strong>{{content.content}}</strong>
													  				</td>
													  				<td v-if="content.row == row-1 && content.isBlank == 1" >
													  					{{content.content}}
													  				</td>
													  			</template>
													  		</tr>
													  	</template>
													  </table>
													</div>
												</div>

												<div class="evidence">
													<div v-if="subset2.evidences.length > 0">
														<p><strong>Evidences:</strong></p>
														<template v-for="(evidence,e) in subset2.evidences">
															<span  class="file">
										  					<span @click="showEvidence(evidence)" class="filename-evidence" >{{evidence.filename}} </span> 
										  					</span>
														</template>
														
													</div>
												</div>

												<div v-if="subset2.subsets.length >0 " class="subsets3">
													<div v-for="(subset3,s3) in subset2.subsets">
														<div class="row">
															<div class="col-md-10">
																<b-form-fieldset v-if="subset3.with_checkbox">
																	<b-form-checkbox value="1" unchecked-value="0" v-model="subset3.evaluation.checkbox"  disabled><p><strong>{{subset3.code}}</strong> {{subset3.description}}</p></b-form-checkbox>
																</b-form-fieldset>
																<p v-else ><strong>{{subset3.code}}</strong> {{subset3.description}}</p>
															</div>
															<div class="col-md-2"  v-if="subset3.with_ratebox">
																<b-form-fieldset>
																	<b-form-input type="text" class="rate" v-model="subset3.evaluation.rate" disabled></b-form-input>
																</b-form-fieldset>
															</div>
														</div>
														<div v-if="subset3.with_textarea && subset3.evaluation.textarea != null" class="e_textarea">
															{{subset3.evaluation.textarea}}
														</div> 

														<div v-if="subset3.tables" class="e_table">
															<div class="table-responsive" v-for="(table,tindex) in subset3.tables">
															  <table class="table table-bordered">

															  	<template v-for="row in table.row_count">
															  		<tr>
															  			<template v-for="content in table.content">
															  				<td v-if="content.row == row-1 && content.isBlank == 0" >
															  					<strong>{{content.content}}</strong>
															  				</td>
															  				<td v-if="content.row == row-1 && content.isBlank == 1" >
															  					{{content.content}}
															  				</td>
															  			</template>
															  		</tr>
															  	</template>
															  </table>
															</div>
														</div>

														<div class="evidence">
															<div v-if="subset3.evidences.length > 0">
																<p><strong>Evidences:</strong></p>
																<template v-for="(evidence,e) in subset3.evidences">
																	<span  class="file">
												  					<span @click="showEvidence(evidence)" class="filename-evidence" >{{evidence.filename}} </span> 
												  					</span>
																</template>
																
															</div>
														</div>
													</div>
												</div>  <!-- End of Subset 3-->
										</div>  <!-- End of Subset 2-->
										</div>
									</div>
								</div><!-- End of Subset 1-->

								<div class="area-summary" v-if="areaDivision.subsets.length> 0">
									<h6>Summary Evaluation : {{areaDivision.summary}}</h6>
									<h6>Comments:</h6> {{areaDivision.comment}}
								</div>
					

							</b-card-body>
						</b-collapse>
					</b-card>

					<b-card no-body class="mb-1">
				      <b-card-header header-tag="header" class="p-1" role="tab">
				        <b-button block href="#" v-b-toggle.summary variant="primary">Statistical Summary</b-button>
				      </b-card-header>
				      <b-collapse id="summary" accordion="my-accordion" role="tabpanel">
				        <b-card-body>
				       		<div class="table-responsive">
							  <table class="table table-bordered">
							  	<thead>
							  		<tr>
							  			<th style="width: 10%">Area Division</th>
							  			<th style="width: 80%">Title</th>
							  			<th style="width: 10%">Summary Evaluation</th>
							  		</tr>
							  	</thead>
							  	<tbody>
							  		<tr v-for="ad in data.areadivisions" v-if="ad.subsets.length >0">
								    	<td>{{ad.code}}</td>
								    	<td>{{ad.title}}</td>
								    	<td>{{ad.summary}}</td>
								    </tr>

								    <tr>
								    	<td class="borderless" colspan="2">Total</td>
								    	<td><strong>{{data.total}}</strong></td>
								    </tr>
								    <tr>
								    	<td class="borderless" colspan="2">General Average</td>
								    	<td><strong>{{data.general_average}}</strong></td>
								    </tr>
							  	</tbody>
							    
							  </table>
							</div>

							<div>
								<br><br>
								<h6>GENERAL AVERAGE = Total Summary Evaluation / Total Number of Divisions</h6>
							</div>
				        </b-card-body>
				      </b-collapse>
					</b-card>

					<div class="modal fade col-md-12" id="show-evidence" tabindex="-1" role="dialog" aria-labelledby="showEvidenceModalLabel" aria-hidden="true">
			  			<div class="modal-dialog modal-lg">
				  			<div class="modal-content">
				  				<div class="modal-header">
				  					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  						<span aria-hidden="true">&times;</span>
				  					</button>
				  				</div>
				  				<div class="modal-body">	
				  					<div class="view-evidence">
				  						<embed :src="displayed_evidence" type="application/pdf" width="100%" height="1000" />
				  					</div>	
									

				  				</div>
			  				</div>
			  			</div>
			  		</div>
			</div>
		</div>
	</div>
</div>
