  <template>
    <div class="custom-actions">
      <button style="border: 1px solid #0000008f;" class="btn btn-sm" @click="viewInfo('view-item', rowData, rowIndex)"><i class="fa fa-search-plus"></i></button>
      <button style="border: 1px solid #0000008f;" class="btn btn-sm" @click="itemAction('edit-item', rowData, rowIndex)"><i class="fa fa-pencil"></i></button>
      <button style="border: 1px solid #0000008f;" class="btn btn-sm" @click="deleteItem('delete-item', rowData, rowIndex)"><i class="fa fa-trash"></i></button>
    </div>
  </template>

  <script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      itemAction (action, data, index) {
        this.$parent.$parent.showUpdateProgramModal(data.id);
      },
      viewInfo (action, data, index) {
          this.$parent.$parent.$refs.vuetable.toggleDetailRow(data.id)
      },
      deleteItem(action, data, index) {
          this.$parent.$parent.deleteProgram(data.id)
      }

    }
  }
  </script>

  <style>
    .custom-actions button.ui.button {
      padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
      margin: auto !important;
    }
  </style>
