<template>
  <div class="app">
    <AppHeader/>
    <div class="app-body">
      <Sidebar :navItems="nav" v-if="this.$auth.user().role ==='SuperAdmin'" />
      <!-- <Sidebar :navItems="nav_viewing" v-if="this.$auth.user().role ==='Admin' && this.$route.path != '/dashboard'" /> -->
      <!-- <Sidebar :navItems="nav_viewing" v-if="this.$auth.user().role ==='Accreditor'" /> -->

      <main :class="this.$auth.user().role ==='Evaluator'|| this.$auth.user().role ==='Accreditor' || (this.$auth.user().role ==='Admin')? 'no-margin' : 'main'">

        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside/>
    </div>
    <AppFooter :class="this.$auth.user().role !='SuperAdmin'? 'no-margin' : 'main'"/>
  </div>
</template>

<script>
import nav from '../_nav'
import nav_viewing from '../nav_viewing'

import { aHeader as AppHeader, Sidebar, aAside as AppAside, aFooter as AppFooter, Breadcrumb} from '../components/'
export default {
  name: 'full',
  components: {
    AppHeader,
    Sidebar,
    AppAside,
    AppFooter,
    Breadcrumb,
  },
  data () {
    return {
      nav: nav.items,
      nav_viewing:[],
      user:this.$auth.user(),
    }
  },
   created(){

    this.nav_viewing = [];
    this.nav_viewing = nav_viewing.items;
    // if(this.user.role =='Accreditor'){
    //   this.fetchData(this.user.program_id,this.user.department_id);
    // }
    // else if(this.user.role =='Admin'){
    //   this.fetchData(this.program_id,this.user.department_id);
   //}
  },
  methods:{
    // fetchData(program_id,department_id)
    // {
    //   if(this.nav_viewing.length <=4 && program_id != undefined)
    //   {
    //     this.nav_viewing.push(
    //       {
    //         name: 'Accreditation Summary',
    //         url: '/evaluation/departments/'+department_id+'/programs/'+program_id+'/accreditation-summary/view',
    //         icon: 'fa fa-circle',
    //         auth: {
    //           roles: ['Admin','Accreditor']
    //         }
    //       }
    //     )
    //     axios.get('fetch-program-areas/'+program_id).then(response => {
    //       this.data = response.data.data;
    //         for(var a in this.data)
    //         {
    //           this.nav_viewing.push(
    //               {
    //                 name: this.data[a].code +' '+this.data[a].title ,
    //                 url: '/evaluation/departments/'+department_id+'/programs/'+this.data[a].program_id,
    //                 icon: 'fa fa-circle',
    //                 auth: {
    //                   roles: ['Admin','Accreditor']
    //                 },
    //                 children:[]
    //               });


    //             for(var ad in this.data[a].areadivisions)
    //             {
    //               var len = this.nav_viewing.length-1;
    //               this.nav_viewing[len].children.push({

    //                  name: this.data[a].areadivisions[ad].code +' '+this.data[a].areadivisions[ad].title ,
    //                   url: '/evaluation/departments/'+department_id+'/programs/'+this.data[a].program_id+'/areas/'+this.data[a].id+'/area-divisions/'+this.data[a].areadivisions[ad].id+'/view',
    //                   icon: 'fa fa-circle-o',
    //                   auth: {
    //                     roles: ['Admin','Accreditor']
    //                   },

    //               });
    //             }
    //              this.nav_viewing[len].children.push({

    //                   name: 'Statistical Summary' ,
    //                   url: '/evaluation/departments/'+department_id+'/programs/'+this.data[a].program_id+'/areas/'+this.data[a].id+'/statistical-summary/view',
    //                   icon: 'fa fa-circle-o',
    //                   auth: {
    //                     roles: ['Admin','Accreditor']
    //                   },

    //               })

    //         }
    //     });

    //   }
      
    // },
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched
    },
    program_id()
    {
      return this.$route.params.program_id;
    },
    department_id()
    {
      return this.$route.params.department_id;
    },
  },
  watch:{
    //  program_id: {
    //   handler: function (val, oldVal) { this.fetchData(this.program_id,this.user.department_id);},
    //   deep: true
    // },
  }
}
</script>
