<template src='../../templates/accreditors/accreditation-summary.html'></template>


<script>
import Loading from 'vue-loading-overlay';
import Vue from 'vue'
export default {
  components: {
   Loading
  },
  data () {
    return {
      isLoading: false,
     areas:[],
     total:({weight_value:0,weighted_average:0}),
     final_evaluation:0,
     program_id: this.$route.params.program_id,
      moreParams:{
      }
    }
  },
  beforeCreate(){
  },
  created(){
    this.Loading = true;
    this.program_id = this.$route.params.program_id;
    console.log(this.program_id)
    this.fetchAreas();
  },

  methods: {
    fetchAreas()
    {
      axios.get('fetch-program-areas/'+this.program_id).then(response => {
        this.areas = response.data.data;
         this.computeRatings();

      },error=>{
      //  next('404')
      });
    },
    computeRatings()
    {
      for(var a in this.areas)
      {
        var areadivisions = this.areas[a].areadivisions;
        var total = 0;
        var count = 0;
        for(var i=0;i<areadivisions.length;i++)
        {
          if(areadivisions[i].subsets.length > 0)
          {

            areadivisions[i]['total'] = this.computeSummary(i,this.areas[a]);
            total += parseFloat(areadivisions[i].total); 
            count++;
          }
        }
       this.areas[a]['total'] =  parseFloat(total).toFixed(2);
       this.areas[a]['general_average'] =  parseFloat(total/count).toFixed(2);
       this.areas[a]['weighted_average'] = parseFloat(this.areas[a].general_average)*this.areas[a].weight_value;

       this.total.weight_value += parseFloat(this.areas[a].weight_value);
       this.total.weighted_average = this.total.weighted_average + parseFloat(this.areas[a].weighted_average);
       
      }
      this.final_evaluation = parseFloat(this.total.weighted_average/this.total.weight_value).toFixed(2);
      this.isLoading = false;
    },
    computeSummary(index,area)
    {
      var total_summary = 0,count = 0;

      if( area.areadivisions[index].subsets)
      {
        length = area.areadivisions[index].subsets.length;
        if(length> 0)
        {
          for(var i = 0;i<length;i++)
          {
            if(area.areadivisions[index].subsets[i].with_ratebox == 1 && area.areadivisions[index].subsets[i].evaluation.rate != null && area.areadivisions[index].subsets[i].evaluation.rate != '' )
           {
              count++;
              total_summary = total_summary + parseFloat(area.areadivisions[index].subsets[i].evaluation.rate);
           }
          }
        }
      }
     

      if(total_summary == 0 && count  == 0)
       return 0;
     else
       return total_summary/count;
    }

  },
  computed:{
    department_id()
    {
      return this.$route.params.department_id;
    }
  }
}
</script>
<style>

</style>
