<template src='../../templates/admins/landing.html'></template>


<script>

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';

export default {
  components: {
    Loading
   
  },
  data () {
    return {
      areas:'',
      isLoading:false,
      user:this.$auth.user(),
      program_id:'',
      moreParams:{
      }
    }
  },
  beforeCreate(){
  },

  created(){
    this.isLoadng = true;
    this.program_id =  this.$route.params.program_id;
      this.fetchAreas();
  },

  methods: {
    allcap (value) {
      return value.toUpperCase()
    },
    fetchAreas()
    {
       axios.get('fetch-program-areas/'+this.program_id).then(response => {
          this.areas = response.data.data;
          this.isLoading = false;
      });
    },

    goToArea(id)
    {
      this.$router.push({name:'Area - Admin',params:{area_id:id,program_id:this.program_id,department_id:this.user.department_id}});
    },

    goToAccreditationSummary()
    {
      this.$router.push({name:'Accreditation Summary - Admin',params:{program_id:this.program_id}});
    }

  },
  computed:{
  }
}
</script>
<style>

</style>
