<template src='../../templates/admins/program-list.html'></template>

<script>
import accounting from 'accounting'
import moment from 'moment'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import VueEvents from 'vue-events'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'
import Form from '../../helper/form.js';


export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    Loading,
    Simplert,
  },
  data () {
    return {
       department_id: this.$route.params.department_id,
       apiUrl:'/api/fetch-department-programs/'+ this.department_id,
      isLoading: false,
      fields: [
        {
          name: '__sequence',
          title: '#',
          titleClass: 'text-right',
          dataClass: 'text-right'
        },
        // {
        //   name: '__checkbox',
        //   titleClass: 'text-center',
        //   dataClass: 'text-center',
        // },
        {
          name: 'title',
          sortField: 'title',
        },
        // {
        //   name: '__slot:actions',
        //   title: 'Actions',
        //   titleClass: 'text-center',
        //   dataClass: 'text-center'
        // }
      ],
      css: {
        table: {
          tableClass: 'table table-responsive table-bordered table-striped table-hover',
          ascendingIcon: 'fa fa-chevron-up',
          descendingIcon: 'fa fa-chevron-down'
        },
        pagination: {
          wrapperClass: 'pagination',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'page',
          linkClass: 'link',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          },
        },
        icons: {
          first: 'fa fa-step-backward',
          prev: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          last: 'fa fa-step-forward',
        },
      },
      sortOrder: [
        // { field: 'title', sortField: 'title', direction: 'asc'}
      ],
      moreParams:{
        // department_id: this.$route.params.department_id,
      }
    }
  },
  beforeCreate(){
     this.department_id= this.$route.params.department_id;
  },

  created(){


    this.isLoading = true
    setTimeout(()=>{
         this.isLoading = false
    },2000);

  },

  methods: {
    allcap (value) {
      return value.toUpperCase()
    },
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onCellClicked (data, field, event) {
        this.$router.push({name:'Accreditation Areas - Admin', params:{program_id: data.id}});
    },


  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>
<style>
.table{
  background: #fff;
}
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
</style>
