<template src='../../templates/evaluators/evaluation.html'></template>


<script>
import Loading from 'vue-loading-overlay';
import Form from '../../helper/form.js';
import Vue from 'vue'
import Simplert from 'vue2-simplert'

export default {
  components: {
     Loading,
     Simplert
  },
  data () {
    return {
      isLoading :false,
      user:this.$auth.user(),
      ids:[],
      files:[],
      displayed_evidence:'',
    form: new Form({
        code: '',
        title: '',
        areadivisions: [],
        evidences:[],
        program:{
          department:{}
        }
      }),

      moreParams:{
      }
    }
  },
  beforeCreate(){
  },

  created(){
    this.isLoading = true;
    this.fetchArea();
  },

  methods: {
    fetchArea()
    {
      this.form.get('areas/'+this.user.area_id).then(response => {
        this.form.originalData = response;
        this.form.sync();

        for(var i=0;i<this.form.areadivisions.length;i++)
        {
          this.form.areadivisions[i]['total']=0.00;

          if(this.form.areadivisions[i].evaluation == null)
            this.form.areadivisions[i]['comment']='';
        }
          this.computeRatings();

      },error=>{
        next('404')
      });
    },
    computeRatings()
    {
      var areadivisions = this.form.areadivisions;
      var subsetsA, subsetsB, subsetsC;
      var sA, sB, sC;
      var checkA = false, checkB = false, checkC = false;
      for(var i=0;i<areadivisions.length;i++)
      {
        
        if(areadivisions[i].subsets)
        {
          var len = areadivisions[i].subsets.length;

          subsetsA = areadivisions[i].subsets;
          for(sA = 0;sA<len;sA++)
          {
            if(subsetsA[sA].subsets.length <= 0)
            {
              subsetsA[sA]['isAverage'] =  false;
            }
            else
            {

              subsetsA[sA]['isAverage'] =  false;
              subsetsB = subsetsA[sA].subsets;

              

              for(sB = 0;sB<subsetsB.length;sB++)
              {
                if(subsetsB[sB].with_ratebox == 1)
                {
                   subsetsA[sA].isAverage = true;
                   subsetsA[sA].evaluation.rate =  this.computeAverage(subsetsB);
                   break;
                }
                if(subsetsB[sB].subsets.length <=0)
                {
                  subsetsB[sB]['isAverage'] =  false;
                }
                else
                {
                  subsetsB[sB]['isAverage'] =  true;
                  subsetsC = subsetsB[sB].subsets;
                  for(sC = 0;sC<subsetsC.length;sC++)
                  {
                    if(subsetsB[sC].with_ratebox == 1)
                    {
                      subsetsA[sB].isAverage = true;
                      subsetsB[sB].evaluation.rate=  this.computeAverage(subsetsC);
                      subsetsA[sA].evaluation.rate=  this.computeAverage(subsetsB);
                      break;
                    }
                  }

                }
                
              }
            }
            
          }
        }
        Vue.set(areadivisions[i],'total',this.computeSummary(i));

      }
      
         this.isLoading = false;
    },
    computeAverage(subsets)
    {
      var count= 0;
      var sum = 0;
     for(var i=0;i<subsets.length;i++)
     {
       if(subsets[i].with_ratebox == 1 && subsets[i].evaluation.rate != null && subsets[i].evaluation.rate != '' )
       {
          count++;
          sum = parseFloat(sum) + parseFloat(subsets[i].evaluation.rate);
       }

     }

     if(sum == 0 && count  == 0)
       return 0;
     else
       return parseFloat(sum/count).toFixed(2);
    },
    computeSummary(index)
    {
      var total_summary = 0;
      var length = this.form.areadivisions[index].subsets.length;
      var count= 0;
      if(length> 0)
      {
        for(var s = 0;s<length;s++)
        {
          if(this.form.areadivisions[index].subsets[s].evaluation.rate){
            total_summary  =  parseFloat(total_summary) + parseFloat(this.form.areadivisions[index].subsets[s].evaluation.rate);
            count++;
          }
          
        }
      }

      if(total_summary == 0 && count  == 0)
       return 0.00;
     else
       return (parseFloat(total_summary/length).toFixed(2));
    },

    saveEvaluation()
    {
      let confirmFn = () =>  {
        this.form.post('evaluate-area/'+this.user.area_id).then(response => {
           toastr.success('Evaluation Saved Successfully', 'Success Alert', {timeOut: 5000});
           this.$router.push({name: 'Evaluation Done',params:{area_id:this.user.area_id}})

        });
         
       }

       let obj = {
           title: 'Save Evaluation',
           message: 'Are you sure you want to save your evaluation?',
           type: 'warning',
           useConfirmBtn: true,
           onConfirm: confirmFn
       }
      this.$refs.savecConfirmation.openSimplert(obj)

      
    },
    showEvidence(evidence)
    {
      if(evidence.evidence)
        this.displayed_evidence=evidence.evidence;
      else
        this.displayed_evidence=evidence.path;

       $("#show-evidence").modal('show');
    },
    handleFiles(a_index,s1,s2,s3,level,subset_id,e) {
 

    var uploadedFiles,name,reader;


    uploadedFiles = e.target.files || e.dataTransfer.files;
    this.files = [];

    for(var i = 0; i < uploadedFiles.length; i++) {
        this.files.push(uploadedFiles[i]);

      name = uploadedFiles[i].name;
      reader = new FileReader();
      reader.onload = (e) => {

        if(level == 1)
        {
          this.form.areadivisions[a_index].subsets[s1].evidences.push({subset_id:subset_id, path: e.target.result, filename:name});
        }
        else if(level == 2)
        {
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].evidences.push({subset_id:subset_id, path: e.target.result, filename:name});
        }
        else if(level == 3)
        {
          this.form.areadivisions[a_index].subsets[s1].subsets[s2].subsets[s3].evidences.push({subset_id:subset_id, path: e.target.result, filename:name});
        }
        
      };
       reader.readAsDataURL(uploadedFiles[i]);
    }
    this.submitFiles(subset_id);
},
getImagePreviews(){
    for( let i = 0; i < this.files.length; i++ ){
        if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
            let reader = new FileReader();
            reader.addEventListener("load", function(){
                this.$refs['preview'+parseInt(i)][0].src = reader.result;
            }.bind(this), false);
            reader.readAsDataURL( this.files[i] );
        }else{
            this.$nextTick(function(){
                this.$refs['preview'+parseInt(i)][0].src = '/img/generic.png';
            });
        }
    }
},
removeFile( key ){
    this.files.splice( key, 1 );
    this.getImagePreviews();
},
submitFiles(subset_id) {
    for( let i = 0; i < this.files.length; i++ ){
        if(this.files[i].id) {
            continue;
        }
        let formData = new FormData();
        formData.append('subset_id', subset_id);
        formData.append('file', this.files[i]);

        axios.post('/evidences',
            formData,
            {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
        ).then(function(data) {
            this.fetchArea();
            this.files[i].id = data['data']['id'];
            this.files.splice(i, 1, this.files[i]);
        }.bind(this)).catch(function(data) {
            console.log('error');
        });
    }
},
deleteEvidence(area_id,s1,s2,s3,level,i,evidence)
{
  
   let confirmFn = () =>  {

    if(evidence.id)
    {
      this.form.delete('evidences/'+evidence.id).then(response => {

      });
    }
   
      if(level == 1)
        this.form.areadivisions[area_id].subsets[s1].evidences.splice(i, 1);
      else if(level == 2)
        this.form.areadivisions[area_id].subsets[s1].subsets[s2].evidences.splice(i, 1);
      else if(level == 3)
        this.form.areadivisions[area_id].subsets[s1].subsets[s2].subsets[s3].evidences.splice(i, 1);


        toastr.success('Evidence Deleted Successfully', 'Success Alert', {timeOut: 5000});
     }

     let obj = {
         title: 'Warning',
         message: 'Are you sure you want to delete this evidence?',
         type: 'warning',
         useConfirmBtn: true,
         onConfirm: confirmFn
     }
    this.$refs.deleteconfirmation.openSimplert(obj)
  
}

  },
  
  watch:{
     form: {
      handler: function (val, oldVal) { this.computeRatings();},
      deep: true
    },
  }
}
</script>

<style>


</style>
