<template src='../../templates/evaluators/evaluation-scale.html'></template>


<script>
import Loading from 'vue-loading-overlay';

export default {
  name:'EvaluationScale',
  components: {
    Loading
   
  },
  data () {
    return {
      user:this.$auth.user(),
      program:'',
      isLoading:false,
      moreParams:{
      }
    }
  },
  beforeCreate(){
  },

  created(){

    this.Loading = true;
    this.getProgram();
  },

  methods: {

    getProgram(){
      axios.get('programs/'+this.user.program_id).then(response => {
      this.program = response.data;    
        this.isLoading = false;

      },error=>{
        next('404')
      });
    }
    

  },
  computed:{
  }
}
</script>
<style>

</style>
