<template src='../../templates/evaluators/evaluation-done.html'></template>


<script>

export default {
  components: {
   
  },
  data () {
    return {
      moreParams:{
      }
    }
  },
  beforeCreate(){
  },

  created(){
  },

  methods: {


  },
  computed:{
  }
}
</script>
<style>

</style>
