<template>
  <div class="animated fadeIn">

    <loading :active.sync="isLoading"
    :on-cancel="whenCancelled"
    :is-full-page="true"></loading>


  <simplert ref="deleteconfirmation"> </simplert>

    <div v-if="!isLoading" class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-8">
            <div class="mb-2">
             <router-link :to="{name:'Department List'}"><div class="btn btn-primary">Go to Departments</div></router-link>
            </div>

              <b-card header="<strong>Create</strong> Department">
                <form @submit.prevent="addNewDepartment" @keydown="form.errors.clear($event.target.name)">
                  <b-form-fieldset
                    label="Department Name"
                    description="Please enter the Department name."
                    :label-cols="2"
                    :horizontal="true">
                    <b-input-group  right="<span>Required</span>">
                        <b-form-input type="text" :class="form.errors.has('name') ? 'is-invalid' : '' " v-model="form.name" ></b-form-input>
                    </b-input-group>
                    <div v-if="form.errors.has('name')" class="invalid-feedback d-block">
                      {{ form.errors.get('name') }}
                    </div>
                  </b-form-fieldset>
                   <div slot="footer" class="pull-right">
                    <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Create</b-button>
                    <b-button  @click="clearForm" type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Clear</b-button>
                  </div>

                </form>
              </b-card>
          </div><!--/.col-->
        </div>
    </div>
  </div><!--/.row-->
  </div>
</template>

<script>

import Form from '../../helper/form.js';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'

export default {
  name: 'createdepartment',
  components: { Loading,Simplert },
  data: () => ({
    isLoading: false,
    form: new Form({
      name: '',
    }),
  }),
  mounted(){
  },
  created(){
    this.isLoading = true;
    setTimeout(()=>{
         this.isLoading = false;
    },1000);
 },
 methods:{
   // USED FOR VUETABLE FIELD CALLBACK
   allcap (value) {
     return value.toUpperCase()
   },


   clearForm () {
     this.form.reset();
   },

    addNewDepartment(){

      this.form.post('departments')
        .then(response => {
          toastr.success('Department Created Successfully', 'Success Alert', {timeOut: 5000});
          this.form.reset();

        }).catch( e => {

          setTimeout(()=>{
            // this.form.errors.clear();
            // console.log(this.form.errors);
          },5000);


      });
    },

   whenCancelled() {
    console.log("User cancelled the loader.")
   }
 }

}
</script>
</script>
<style>
.w-240 {
  width: 240px;
}
</style>
