<template src='../../templates/programs/program-list.html'></template>

<script>
import accounting from 'accounting'
import moment from 'moment'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import VueEvents from 'vue-events'
import CustomActions from './comps/CustomActions'
import FilterBar from './comps/FilterBar'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.min.css';
import Simplert from 'vue2-simplert'
import Form from '../../helper/form.js';

Vue.use(VueEvents)
Vue.component('programs-custom-actions', CustomActions)
Vue.component('programs-filter-bar', FilterBar)

export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    Loading,
    Simplert,
  },
  data () {
    return {
       department_id: this.$route.params.department_id,
       apiUrl:'/api/fetch-department-programs/'+this.department_id,
       name:this.$route.params.name,
      form: new Form({
        title: '',
        department_id:''
      }),
      isLoading: false,
      fields: [
        {
          name: '__sequence',
          title: '#',
          titleClass: 'text-right',
          dataClass: 'text-right'
        },
        // {
        //   name: '__checkbox',
        //   titleClass: 'text-center',
        //   dataClass: 'text-center',
        // },
        {
          name: 'title',
          sortField: 'title',
        },
        {
          name: '__slot:actions',
          title: 'Actions',
          titleClass: 'text-center',
          dataClass: 'text-center'
        }
      ],
      css: {
        table: {
          tableClass: 'table table-responsive table-bordered table-striped table-hover',
          ascendingIcon: 'fa fa-chevron-up',
          descendingIcon: 'fa fa-chevron-down'
        },
        pagination: {
          wrapperClass: 'pagination',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'page',
          linkClass: 'link',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          },
        },
        icons: {
          first: 'fa fa-step-backward',
          prev: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          last: 'fa fa-step-forward',
        },
      },
      sortOrder: [
        { field: 'title', sortField: 'title', direction: 'asc'}
      ],
      moreParams:{
       department_id:this.department_id,
       name:this.name
      }
    }
  },
  beforeCreate(){
      this.department_id = this.$route.params.department_id;
  },

  created(){


    this.isLoading = true
    setTimeout(()=>{
         this.isLoading = false
    },2000);

  },

  methods: {
    allcap (value) {
      return value.toUpperCase()
    },
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onCellClicked (data, field, event) {

      if(this.$auth.user().role == 'SuperAdmin')
        this.$router.push({name:'Area Lists', params:{program_id: data.id}});
      else if(this.$auth.user().role == 'Admin')
        this.$router.push({name:'Accreditation Areas', params:{program_id: 1}});
    },
    resetForm(){
      this.form.reset();
    },
    close () {
     $(".modal").modal('hide');
   },
    showCreateProgramModal()
    {
       $("#create-program").modal('show');
    },
    showUpdateProgramModal(id)
    {
      this.form.get('programs/'+id).then(response => {
        this.form.originalData = response;
        this.form.sync();
      });

       $("#update-program").modal('show');
    },
    addNewProgram(){
      this.form.department_id = this.department_id;
      this.form.post('programs')
        .then(response => {
          toastr.success('Program Created Successfully', 'Success Alert', {timeOut: 5000});
          this.form.reset();
           this.$refs.vuetable.refresh();
          // $("#create-program").modal('hide');
        }).catch( e => {

          setTimeout(()=>{
            this.form.errors.clear();
            console.log(this.form.errors);
          },5000);


      });

    },
    deleteProgram(id){
        let confirmFn = () =>  {
          this.form.delete('programs/'+id).then(response => {
            this.$refs.vuetable.refresh();
            toastr.success('Program Deleted Successfully', 'Success Alert', {timeOut: 5000});
          });
        }

        let obj = {
            title: 'Warning',
            message: 'Are you sure you want to delete?',
            type: 'warning',
            useConfirmBtn: true,
            onConfirm: confirmFn
        }

        this.$refs.deleteconfirmation.openSimplert(obj)
    },

    updateProgram(id){
        this.form.patch('programs/'+id).then(response=>{
        toastr.success('Program Updated Successfully', 'Success Alert', {timeOut: 5000});
         this.form.reset();
        this.$refs.vuetable.refresh();
        $("#update-program").modal('hide');
      }).catch( e => {
        setTimeout(()=>{
          this.form.errors.clear();
        },5000);
      });;
    },

    closeUpdateModal()
    {
       $("#update-program").modal('hide');
    },
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>
<style>
.table{
  background: #fff;
}
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
</style>
