<template>
  <div>
    <loading :active.sync="isLoading"
             :can-cancel="false"
             :is-full-page="true"></loading>
    <div class="app flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="card-group mb-0">
              <div class="card p-4">
                <div class="card-body">
                  <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/0/01/New_University_of_Nueva_Caceres_AC_Education_Logo.png">
                  <!-- <h6 class="text-center">University of Nueva Caceres</h6> -->
                  <h4 class="text-center">PACUCOA Accreditation</h4>
                  <br>
                  <p class="text-muted">Login to continue</p>
                  <form autocomplete="off" @submit.prevent="login">
                    <div class="input-group mb-3">
                      <span class="input-group-addon"><i class="icon-user"></i></span>
                      <input v-model="email" type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group mb-4">
                      <span class="input-group-addon"><i class="icon-lock"></i></span>
                      <input v-model="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary px-4 pull-right">Login</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
             <!--  <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                     <router-link type="button" class="btn btn-primary active mt-3" to="/register">Register Now!</router-link>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.min.css';

  export default {
    data(){
      return {
        email: null,
        password: null,
        error: false,
        isLoading: false
      }
    },
    components: {
      Loading
    },
    methods: {
      login(){
        var app = this
        this.isLoading = true;
        this.$auth.login({
            method :'POST',
            data: {
              email: app.email,
              password: app.password
            },
            success: function () {
            
            },
            error: function () {
              this.isLoading = false
            },
            rememberMe: true,
            redirect:'/dashboard',
            fetchUser: true,

            
        });
      },
    }
  }
</script>